.process-wrap {
  overflow: hidden;
  transform: none !important;
}
.process {
  width: 300%;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-item-align: center;
  align-self: center;
  height: 100vh!important;
}
.process__item {
  display: flex;
  align-items: center;
  padding: 0 100px;
  justify-content: center;
}  
.process-wrap{
  padding: 0px 0px 0px !important;
  min-height: 4800px !important;
  max-height: 6180px !important;
}
.process__item .deri-row {
  margin: 0px !important;
}
.process__item .crypto-trade, .process__item .ncx-card-trade, .process__item .ncx-apisect,
.process__item .ncx-tradeassets, .process__item .TradeNCXToken{
  min-width: 1261px;
  min-height: 586px !important;
  margin-top: 0px !important;
}
.tabshorizontal-ss{
  background: #FFFFFF !important;
  padding: 0px 0px 0px 0px;
}