/* .ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: rgba(0,0,0,0.6) !important;
} */

/* header#header-row:before{
    display: none;
}
header#header-row .MuiToolbar-root {
    min-height: 56px !important;
}
.logo-nav{
    column-gap: 28px !important;
}
.header-more svg path{
    fill: #000;
}
ul.navlink a{
    color: #000;
    font-weight: 400;
    font-family: 'urbanist-regular';
}
ul.navlink{
    column-gap: 28px;
}
.login-buttons a.signin{
    min-height: 34px !important;
}
.login-buttons .dqLguv {
    min-height: 34px;
}
.login-buttons button.sc-hKFxyN {
    width: 34px;
} */