.hubspot-link__container {
    display: none !important;
}
.hubspot-link__container.sproket {
    display: none;
}
#applynow_form{
    /* background: url(../../images/apply_bg.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; */
    width: 50% !important;
}
.heading_corss {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.heading_corss h2 {
    color: #000000 !important;
    font-size: 32px;
    line-height: 36px;
    font-family: 'urbanist-regular';
}
.heading_corss button {
    border: none;
    background: none;
}
.heading_corss button svg{
    width: 20px;
    height: auto;
}
.heading_corss button svg path{
    fill: #000000;
}
#applynow_form input{
    padding: 0px;
    color: #FFFFFF;
    font-family: 'urbanist-regular' !important;
    border-bottom: 1px solid #FFFFFF !important;
}
span {
    color: #FFFFFF;
    font-size: 16px;
    font-family: inherit;
    font-weight: 400;
}
.submitted-message {
    color: #52c452;
    font-size: 16px;
    font-family: sans-serif;
}

@media screen and (max-width: 767px){
    #applynow_form{
        width: inherit !important;
        inset: 55% auto auto 50% !important;
        max-height: 500px;
    }
    .heading_corss h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .heading_corss button svg{
        width: 14px;
    }
}