.accordian h2 {
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    font-family: 'urbanist-regular' !important;
    text-align: left;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(255,255,255, 0.5);
    padding: 30px 0px;
    cursor: pointer;
}
.accordian .content p {
    color: #FFFF;
    text-align: left;
    font-family: 'urbanist-light' !important;
    font-size: 16px;
    margin-bottom: 10px;
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(1,1,1,1);
}
.content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.4s cubic-bezier(1,1,1,1);
    margin-bottom: 30px;
}
span.svg.transform {
    transform: rotate(180deg);
    transition: all 0.4s cubic-bezier(1,1,1,1);
}
span.svg {
    background: rgb(255,255,255, 0.5);
    padding: 7px 10.5px;
    border-radius: 50%;
    transition: all 0.4s cubic-bezier(1,1,1,1);
}
ul.faq_li {
    padding-left: 0px;
    margin-top: 20px;
}
ul.faq_li li {
    font-size: 16px !important;
    line-height: 24px;
    font-family: 'urbanist-regular' !important;
    padding: 5px 0px;
    list-style-type: none !important;
    position: relative;
    padding-left: 20px;
}
ul.faq_li li:before {
    content: '-';
    left: 0px;
    position: absolute;
}

#footer-faq summary {
    color: #FFFFFF !important;
    border-top: 1px solid rgba(255,255,255, 0.5) !important;
}
#footer-faq .contt{
    color: #FFFFFF !important;
}
#footer-faq details[open] .contt{
    padding-top: 0px !important;
}
#footer-faq span.red{
    background: rgba(255,255,255,0.5) !important;
}
#footer-faq .contt ul {
    margin-top: 20px;
    padding-left: 0;
}
#footer-faq .contt ul li {
    font-family: "urbanist-light" !important;
    font-size: 16px!important;
    line-height: 24px;
    list-style-type: none!important;
    padding: 5px 0 5px 20px;
    position: relative;
}
#footer-faq .contt ul li:before {
    content: "-";
    left: 0;
    position: absolute;
}

@media screen and (max-width: 800px){
    #faq.faq-sect .row:before, #faq.faq-sect .row:after{
        display: none;
    }
    .title{
        padding: 20px 0px;
    }
    .faq-1{
        width: 100% !important;
        margin-top: 30px;
    }
    .accordian h2{
        font-size: 16px !important;
        line-height: 20px !important;
        padding-right: 20px;
    }
    .accordian .content p{
        font-size: 14px !important;
    }
    .asss h1 {
        font-size: 26px !important;
        line-height: 34px !important;
        padding: 10px 60px 10px 0px !important;
    }
    .accordian span.svg{
        padding: 4px 9px;
    }
    .accordian span.svg svg{
        width: 10px;
        height: auto;
    }
}