.otctxt.extra p {
    margin-bottom: 0px !important;
}
#about_institution.trading_advantages .OTCsect.one.row .otctxt {
    min-height: 340px;
}
#about_institution.trading_advantages .OTCsect.one.row .otc-line {
    height: 380px;
}
@media screen and (max-width: 800px){
    #about_institution.trading_advantages #institutional_about .liquidity-row .otctxt{
        min-height: 415px !important;
    }
    #about_institution.trading_advantages #institutional_about .liquidity-row .otc-line{
        height: 450px !important;
    }
    #about_institution.trading_advantages #institutional_about .access_defi .otctxt {
        min-height: 310px !important;
    }
    #about_institution.trading_advantages #institutional_about .access_defi .otc-line{
        height: 345px !important;
    }
}