.home-blog .row {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.home-blog .row.first, .home-blog .row.second {
    border-bottom: 1px solid #333A3D;
}
.home-blog .col-xs-2 {
    min-height: 160px;
    padding: 0px;
    width: 20%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-right: 1px solid #333A3D;
    text-align: center;
}
.home-blog .row .col-xs-2 img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    height: auto;
    margin: 0 auto;
    width: 70%;
}
a#p3 img {
    width: 100%;
}
#p12 img {
    width: 50%;
}
#p14 img {
    width: 30%;
}
#p5, #p10, #p15 {
    border-right: none;
}
a#p15{
    visibility: hidden;
}
.home-blog {
    padding: 100px 0px;
    background: url(../../../images/blog-banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.home-blog .col-xs-2:hover {
    background: linear-gradient(88.47deg,#65E4A1 4.2%,#2460FF 94.88%);
    cursor: pointer;
}