.partner-logo svg, .partner-logo img {
    width: 200px;
    height: auto;
}
.partner-logo {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
}
.partnerships.row {
    margin: 0px;
    margin-bottom: 80px;
}
.ncx-partnerships .about_logo {
    margin-bottom: 90px;
}
.ncx-partnerships {
    padding: 100px 0px;
}