.ncxcarddiv {
    background: #FFFFFF;
    padding: 100px 0px 50px 0px;
    position: relative;
}
/* div#cardarticles{
    max-width: 1420px;
    margin: 0 auto;
    margin-right: 0px;
} */
img.cardimg01 {
    width: 100%;
    max-width: 290px !important;
    padding: 50px 0px;
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.1));
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: .4s ease;
    transition: .4s ease;
}
#NCXCardHomepageSlide div{
    width: 100% !important;
    max-width: 1420px !important;
    /* column-gap: 20px; */
    justify-content: flex-end !important;
    position: relative !important;
    padding-left: 20px !important;
}
#NCXCardHomepageSlide > div > div > div{
    width: 100% !important;
    justify-content: flex-start !important;
    max-width: 100% !important;
    padding: 50px 0px !important;
    text-align: center;
}
article.ncxcard01 {
    width: 395px;
    min-width: 395px !important;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 3%);
    margin-left: 30px !important;
    background: #FFFFFF;
    padding-bottom: 70px !important;
    margin: 0 auto;
    text-align: center;
}
article.ncxcard01:hover {
    -webkit-box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
}
/* article.ncxcard01:hover{
    transform: translateY(0%) scale(1.01);
    -webkit-transform: translateY(0%) scale(1.01);
    -moz-transform: translateY(0%) scale(1.01);
} */
article.ncxcard01:hover img.cardimg01 {
    transform: translateY(0%) scale(1.07);
    -webkit-transform: translateY(0%) scale(1.07);
    -moz-transform: translateY(0%) scale(1.07);
}
.card-features {
    text-align: left;
    padding: 0px 20px !important;
}
.card-features p {
    font-size: 16px;
    font-family: 'urbanist-regular';
    color: #767676;
    padding-top: 10px;
    display: flex;
}
.card-features p span {
    color: #000000 !important;
    font-family: 'urbanist-semibold' !important;
    padding-left: 5px;
}
.card-features p:before{
    content: '';
    background: url(../../../images/ncx-cardtick.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14px;
    height: 14px;
    position: relative;
    display: block !important;
    top: 5px;
    left: -15px;
}
a.card-learnmore {
    color: #000000;
    font-size: 16px;
    font-family: 'urbanist-regular';
    padding-left: 10px;
    display: flex;
    margin-top: 25px;
}
a.card-learnmore:after {
    content: '';
    background: url(../../../images/ncx-learnarrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14px;
    height: 14px;
    display: block;
    position: relative;
    top: 6px;
    left: 10px;
}
.cardtitle{
    padding-bottom: 10px;
}
.cardtitle h1 {
    text-align: left;
    font-size: 28px;
    font-family: 'urbanist-regular';
}
.cardtitle h1 span {
    font-family: 'urbanist-semibold';
}
#NCXCardHomepageSlide button.backwrod {
    display: none;
}
#NCXCardHomepageSlide button.farworad {
    background: linear-gradient(269.4deg, #FFFFFF 0.52%, rgba(255, 255, 255, 0) 99.48%) !important;
    height: 638px !important;
    width: 150px !important;
    position: absolute;
    border-radius: 0px !important;
    text-align: right !important;
    padding-right: 50px;
    border: none !important;
}
#NCXCardHomepageSlide button.farworad span {
    background: #FFFFFF;
    padding: 9px 10px;
    border-radius: 5px;
}
#NCXCardHomepageSlide button.farworad span:hover {
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
}
#NCXCardHomepageSlide div.cardtitle div {
    padding-left: 0px !important;
}
#NCXCardHomepageSlide div.cardtitle{
    padding: 0px 25px 15px 25px !important;
}
#NCXCardHomepageSlide > div > div:nth-child(4) {
    justify-content: center !important;
}
#NCXCardHomepageSlide > div > div:nth-child(4) button{
    width: 6px !important;
    height: 6px !important;
}



#NCXCreditCardSlider .carousel__slider-tray {
    display: flex;
}
#NCXCreditCardSlider .carousel__slider-tray .carousel__slide {
    padding: 0px !important;
}
#NCXCreditCardSlider .cardtitle, #NCXCreditCardSlider .card-features {
    margin: 0px 40px;
}
#NCXCreditCardSlider .carousel{
    position: relative !important;
    width: 100% !important;
    overflow: hidden !important;
}
#NCXCreditCardSlider .carousel .slider {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    padding: 70px 0px !important;
    /* margin-left: 0px !important; */
}
#NCXCreditCardSlider .card-features{
    padding: 0px !important;
}
#NCXCreditCardSlider a.card-learnmore {
    position: relative;
    left: -20px;
}
.buttonNext {
    background: none;
    border: none;
    background: linear-gradient(269.4deg, #FFFFFF 0.52%, rgba(255, 255, 255, 0) 99.48%) !important;
    height: 638px !important;
    width: 150px !important;
    position: absolute;
    right: 0px;
    top: 0px;
}
.buttonBack{
    background: none;
    border: none;
    background: linear-gradient(269.4deg, #FFFFFF 0.52%, rgba(255, 255, 255, 0) 99.48%) !important;
    height: 638px !important;
    width: 150px !important;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: rotate(180deg);
}
button:disabled{
    display: none;
}
#NCXCreditCardSlider .horizontalSlider___281Ls{
    overflow: unset !important;
}


#NCXCreditCardSlider.mobile-ss{
    display: none;
}
@media screen and (max-width: 800px){
    #NCXCreditCardSlider.mobile-ss{
        display: block;
    }
    #NCXCreditCardSlider{
        display: none;
    }
    #NCXCreditCardSlider.mobile-ss article.ncxcard01{
        width: 100% !important;
        min-width: 100% !important;
        margin: 0px !important;
        box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%) !important;
    }
    #NCXCreditCardSlider .carousel__slider-tray .carousel__slide{
        margin: 0px 20px !important;
    }
    #NCXCreditCardSlider.mobile-ss .cardtitle h1{
        font-size: 22px !important;
        line-height: 26px !important;
    }
    #NCXCreditCardSlider.mobile-ss .card-features p{
        font-size: 13px !important;
    }
    #NCXCreditCardSlider.mobile-ss .card-features p:before{
        width: 10px !important;
        height: 10px !important;
        left: -10px !important
    }
    #NCXCreditCardSlider.mobile-ss a.card-learnmore{
        font-size: 14px !important;
    }
    #NCXCreditCardSlider.mobile-ss .cardtitle{
        margin: 0px 30px !important;
    }
    #NCXCreditCardSlider.mobile-ss img.cardimg01{
        max-width: 330px !important;
        padding: 50px 30px !important;
    }
    #NCXCreditCardSlider.mobile-ss .buttonBack, #NCXCreditCardSlider.mobile-ss .buttonNext{
        display: block !important;
        border: 1px solid !important;
        background: none !important;
        height: 40px !important;
        width: 40px !important;
        position: relative !important;
        right: inherit !important;
        top: inherit !important;
        display: inline-block !important;
        border-radius: 50px !important;
        margin: 5px !important;
    }
    #NCXCreditCardSlider.mobile-ss .buttonBack svg{
        transform: rotate(180deg);
    }
    #NCXCreditCardSlider.mobile-ss button svg path{
        fill: #000 !important;
    }
    #NCXCreditCardSlider.mobile-ss button svg{
        width: 12px !important;
        height: 12px !important;
    }
    #NCXCreditCardSlider.mobile-ss .carousel .slider{
        padding-bottom: 30px !important;
    }
    #NCXCreditCardSlider.mobile-ss .carousel{
        text-align: center !important;
    }
    .ncxcarddiv{
        padding: 50px 0px !important;
        margin-top: -1px !important;
    }
    #NCXCreditCardSlider.mobile-ss button.buttonBack {
        transform: rotate(0deg);
    }
 }
 