#ncx_institution .ambassadordiv .container {
    padding-top: 240px;
}
p.insta-head {
    color: #000000;
    border-color: #000000;
}
.advanta_our h2{
    font-size: 34px;
    line-height: 38px;
    font-family: 'hauora-semibold';
    color: #000000;
    margin-top: 50px;
}
#ncx_institution .col.card_imgb {
    text-align: center;
    display: flex;
    align-items: center;
}
#ncx_institution .col.card_imgb img {
    width: 100% !important;
    max-height: 430px;
    min-height: 350px;
    object-fit: contain;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
}
.institutional__ser h1 {
    font-size: 62px !important;
    line-height: 80px !important;
    font-family: 'hauora-medium' !important;
}
.institutional__ser h1:nth-child(2){
    position: relative;
    width: fit-content;
}
.institutional__ser h1:nth-child(2):before{
    content: '';
    height: 15px;
    background: rgba(148, 82, 236, 0.6);
    display: block;
    position: absolute;
    width: 100%;
    bottom: 15px;
}
.institutional__ser .col.card_imga {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1280px){
    #ncx_institution .ncx-otc.solutions, #ncx_institution #data__ana .ncx-otc {
        margin-left: -40px;
        padding: 0px;
    }
}

@media screen and (max-width:800px){
    #ncx_institution .ambassadordiv {
        margin-top: 0px !important;
        padding: 50px 0px 50px 0px;
    }
    #ncx_institution .ambassadordiv .backgrdound-video {
        display: none;
    }
    #ncx_institution .ambassadordiv .container {
        position: relative !important;
        left: inherit !important;
        right: inherit !important;
    }
    #ncx_institution .ambassador.row .col {
        width: 100% !important;
    }
    #ncx_institution .ambassador.row h1 {
        font-size: 24px;
        line-height: 32px;
    }
    #ncx_institution .txt44 {
        margin-bottom: 0px;
    }
    #ncx_institution .txt44 p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    #solutions_institutional{
        background: #FFFFFF !important;
        background-color: #FFFFFF !important;
    }
    #solutions_institutional .otc-line{
        width: 0.5px !important;
    }
    .ncx-otc.solutions {
        padding: 0px !important;
    }
    .ncx-otc.solutions p {
        font-size: 26px !important;
        line-height: 32px !important;
    }
    /* .liquidity-row .otctxt p {
        height: 110px !important;
        min-height: 110px;
    } */
    /* .liquidity-row .otc-line {
        height: 200px !important;
    } */
    /* .access_defi .otctxt p {
        min-height: 220px !important;
    } */
    /* .access_defi .col:nth-child(2) .otctxt p {
        min-height: 203px !important;
    }
    .access_defi .otc-line {
        height: 305px !important;
    }
    .structured_product .otctxt p {
        min-height: 175px !important;
    }
    .structured_product .otc-line {
        height: 255px !important;
    }
    .structured_product .col:nth-child(1) .otctxt p {
        min-height: 155px !important;
    } */
    .trading-sol-row {
        display: block !important;
        padding: 80px 0px !important;
    }
    .trading-sol-row .col {
        width: 100% !important;
    }
    .trading-sol-row .col:nth-child(2){
        margin-top: 60px !important;
    }
    #trading_solutions video{
        min-height: 660px !important;
        display: none;
    }
    div#trading_solutions{
        max-height: 1100px !important;
        min-height: inherit !important;
    }
    .advanta_our h2 {
        font-size: 26px !important;
        line-height: 32px !important;
    }
    /* .mbl_advag1 .otctxt p {
        min-height: 220px !important;
    }
    .mbl_advag1 .otc-line {
        height: 310px !important;
    }
    .mbl_advag2 .col:nth-child(1) .otctxt p {
        min-height: 300px !important;
    }
    .mbl_advag2 .col:nth-child(2) .otctxt p {
        min-height: 280px !important;
    }
    .mbl_advag2 .otc-line {
        height: 385px !important;
    }
    .mbl_advag3 .col:nth-child(1) .otctxt p {
        height: 150px;
    }
    .mbl_advag3 .col:nth-child(2) .otctxt p {
        min-height: 138px !important;
    }
    .mbl_advag3 .otc-line {
        height: 235px !important;
    }
    .mbl_advag4 p {
        min-height: 150px !important;
    }
    .mbl_advag4 .otc-line {
        height: 235px !important;
    } */
    .OTCsect.row.mobile.four.mbl_advag4 {
        padding-top: 0px !important;
    }
    #solutions_institutional .OTCsect.row.mobile.one.liquidity-row {
        padding-top: 60px !important;
    }
    #solutions_institutional .OTCsect.row.mobile.three{
        padding-bottom: 0px !important;
    }
    div#exclusive_rates {
        padding: 50px 0px 100px 0px !important;
        max-height: inherit !important;
    }
    #exclusive_rates .backgrdound-video{
        display: none !important;
    }
    #exclusive_rates .container{
        position: relative !important;
        left: inherit !important;
        right: inherit !important;
    }
    h1.exclusive{
        font-size: 26px !important;
        line-height: 32px !important;
        text-align: center !important;
    }
    .exclusive_rates{
        display: block !important;
    }
    .exclusive_rates .col {
        width: 100% !important;
        margin-bottom: 20px;
    }
    #ncx_institution .data_analytics{
        padding: 50px 0px;
    }
    #ncx_institution .data_analytics h1{
        font-size: 26px;
        line-height: 32px;
    }
    #ncx_institution .analytics_row{
        display: block;
    }
    #ncx_institution .analytics_row .col{
        width: 100%;
        margin-bottom: 20px;
    }
    div#trading_solutions.assets_management {
        min-height: inherit !important;
        max-height: inherit !important;
    }
    div#trading_solutions.assets_management .backgrdound-video {
        display: none;
    }
    div#trading_solutions.assets_management .container {
        position: relative !important;
        padding-bottom: 80px !important;
    }
    /* .OTCsect.row.mobile.assets2 .col:nth-child(2) h2 {
        min-height: 35.19px;
    } */
    .OTCsect.row.mobile.assets2 .otctxt p, .OTCsect.row.mobile.assets1 .otctxt p {
        min-height: 260px !important;
    }
    .OTCsect.row.mobile.assets1 .otc-line{
        height: 340px !important;
    }
    .OTCsect.row.mobile.assets2 .otc-line {
        height: 340px !important;
    }
    #ncx_institution .ncx-otc p{
        font-size: 26px;
        line-height: 32px;
    }
    #ncx_institution .ncx-blacklogo, #ncx_institution .ncx-whitelogo{
        width: 105px !important;
    }
    .institutional__ser .ambassador_card.row {
        display: none;
    }
    .institutional__ser #mobileSlider .carousel__slider-tray .carousel__slide:nth-child(2) img{
        min-height: 300px !important;
        max-height: 300px !important;
        object-fit: contain !important;
    }
    .institutional__ser #mobileSlider .carousel .carousel__slider {
        background: #DBDCDE !important;
    }
    .institutional__ser #mobileSlider .carousel__slider-tray .carousel__slide:nth-child(2){
        padding: 50px 0px !important;
    }
    .institutional__ser h1:nth-child(2):before{
        height: 10px;
        bottom: 10px;
    }
    #solutions_institutional .otctxt p {
        height: unset !important;
        min-height: unset !important;
    }
    #trading_solutions .trading-sol-row {
        padding-top: 0px !important;
    }
    #trading_solutions.assets_management .ncx-otc p{
        font-size: 24px !important;
    }
    #trading_solutions #data__ana .container {
        padding: 0px !important;
    }
    #trading_solutions #data__ana .col {
        min-height: 250px !important;
    }
}