.ncxapp-section {
    padding: 100px 0px 20px 0px;
}
.ncxapp-section .row{
    margin: 0px;
    min-height: 816px;
}
.ncxapp-section .row:before, .ncxapp-section .row:after{
    display: none;
}
.ncxapp-section .row .col:first-child{
    width: 40%;
    /* background-color: #000000;
    background: url(../../../images/ncx-faq-mblbg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    padding: 120px 0px 120px 200px;
    flex: inherit;
    max-width: 440px;
}
.ncxapp-section .row .col:last-child{
    width: 60%;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.ncxapp-section .row .col .mobile-photo img{
    max-width: 320px;
}
.ncxapp-section .row .col:first-child h1 {
    font-size: 40px;
    color: #FFFFFF;
    line-height: 46px;
    /* max-width: 236px; */
}
.ncxapp-section .row .col:first-child p{
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0px;
    font-family: 'urbanist-light';
    color: #FFFFFF;
}
.barcodd {
    text-align: center;
}
.barcodd img {
    max-width: 110px;
}
.barcodd p {
    font-size: 12px !important;
    line-height: 16px !important;
    padding: 0px 60px !important;
    /* width: 30% !important; */
    text-align: center;
}
.apps-divi {
    display: grid;
    gap: 10px;
    padding-top: 20px;
    justify-content: center;
}
.apps-divi svg {
    width: 135px;
    height: auto;
}
.ncxapp-section .row .col .mobile-photo{
    position: relative;
}
.ncxapp-section .row .col .mobile-photo img {
    max-width: 410px;
    position: relative;
    left: -190px;
}
.app-texts-src {
    position: relative;
    width: 43%;
    padding-right: 200px;
}
.apptexts h1 {
    font-size: 16px;
    line-height: 24px;
    font-family: 'urbanist-medium';
    color: #FFFFFF;
}
.apptexts p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'urbanist-light';
    color: rgba(255,255,255,0.8);
}
.mobile-photo {
    width: 35%;
}
.apptexts {
    margin-bottom: 30px;
    position: relative;
    text-align: left;
}
.apptexts:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 4px;
    background: #D9D9D9;
    display: block;
    left: -101px;
    /* z-index: -1; */
    top: 12px;
}

@media screen and (max-width: 800px){
    .ncxapp-section{
        display: none;
    }
}


/* **************************************************************** */
#buy_ssd_dd.ncxapp-section {
    width: 100%;
    max-height: 850px;
    text-align: center;
    background: #000000;
    padding: 0px !important;
    margin: 100px 0px !important;
    position: relative;
}
#ncx_buycrypto_video video {
    width: 100%;
    max-height: 850px;
}
div#buycrypto_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100% !important;
    max-width: inherit !important;
}