#ncx_about .col.card_imgb {
    text-align: center;
    display: flex;
    align-items: center;
}
#ncx_about .col.card_imgb img {
    width: 100% !important;
    max-height: 410px;
    min-height: 350px;
    object-fit: contain;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
}
.market_maker_about .market-discount h1{
    display: none;
}
#ncx_about .col.card_txt p{
    text-align: justify;
}
#ncx_about button.conttrade-tabs.active {
    border: 1px solid #9153EA !important;
}
#ncx_about button.trade-tabs.active {
    color: #9153EA !important;
}

#ncx_about .otc-line {
    background: rgba(0,0,0,0.3);
}
#ncx_about .bar-grade33 .gradientbar {
    display: none;
    background: linear-gradient(90deg, rgba(146,82,234,1) 7%, rgba(238,112,228,1) 36%, rgba(146,91,202,1) 77%, rgba(49,112,246,1) 100%) !important;
}
summary::marker {
    display: none;
}
summary::-webkit-details-marker{
    display: none;
}

.ncx-partnerships .partnerships.row.mobile{
    display: none;
}
@media screen and (max-width: 800px){
    #ncx_about .crypto_card {
        display: block !important;
    }
    #ncx_about .ambassador_card.row{
        display: none !important;
    }
    #ncx_about .col.card_imga {
        width: 100%;
        display: none;
    }
    #ncx_about .col.card_imgb {
        width: 100%;
        display: block !important;
        padding: 50px 0px !important;
    }
    #ncx_about .col.card_txt {
        width: 100% !important;
        padding: 30px 0px 0px 0px !important;
    }
    #ncx_about .col.card_txt p{
        font-family: 'hauora-extralight' !important;
        margin-bottom: 0px !important;
    }
    #ncx_about #mobileSlider .col.card_txt h1{
        font-size: 36px !important;
        line-height: 44px !important;
    }
    #ncx_about #mobileSlider video {
        min-height: 360px;
        object-fit: cover;
        width: 100%;
        background: #000000;
    }
    #ncx_about .col.card_txt .inns-div{
        width: 100% !important;
        position: relative;
        top: 0px !important;
        transform: unset !important;
    }
    #ncx_about .bbttn{
        margin-top: 20px !important;
    }
    #ncx_about .bbttn a{
        padding: 10px 30px !important;
    }
    #ncx_about .col.card_imgb img {
        max-height: 300px;
        min-height: 300px;
    }
    #ncx_about .col.card_imga{
        display: none !important;
    }
    .about_content{
        padding-bottom: 50px !important;
    }
    #institutional_about .otc-image svg path{
        fill: #9153EA;
    }
    div#accord{
        padding: 50px 0px 50px 0px !important;
    }
    div#accord .row {
        display: block !important;
    }
    div#accord .row .trading_col, div#accord .row .accord-about {
        width: 100%;
    }
    div#accord .row .trading_col{
        margin-bottom: 50px !important;
    }
    #accord summary{
        padding: 20px 0px !important;
    }
    #accord summary span.red{
        width: 26px;
        height: 26px;
    }
    #accord summary span.red svg{
        width: 11px;
        height: auto;
    }
    #accord .contt{
        padding-top: 5px !important;
    }
    .data_analytics {
        padding: 30px 0px;
    }
    .data_analytics .trading_col{
        width: 100% !important;
    }
    .analytics_row.fsdcc3{
        margin-top: 40px !important;
        display: block !important;
    }
    .analytics_row.fsdcc3 .col{
        width: 100% !important;
        margin-bottom: 20px !important;
        padding: 30px 25px !important;
    }
    #derivative .trading_col{
        width: 100% !important;
    }
    #derivative .trading_col .about_logo h1 {
        font-size: 24px !important;
    }
    div#derivative{
        padding: 50px 0px !important;
    }
    .trade_derivatives_xx{
        margin-top: 40px !important;
        padding: 20px !important;
    }
    .tvs h1 {
        font-size: 22px !important;
    }
    .tvs p {
        font-size: 14px !important;
    }
    #ncx_about button.trade-tabs {
        min-width: 70px !important;
        font-size: 13px !important;
        border-radius: 8px !important;
    }
    div#trade-tabs-sect {
        padding: 20px 0px 0px 0px !important;
    }
    .trade_derivatives_xx .content-tabs {
        margin-top: 10px !important;
        padding: 15px !important;
    }
    .trade_derivatives_xx .content-tabs button.conttrade-tabs {
        min-width: fit-content;
        width: fit-content !important;
        font-size: 12px !important;
        padding: 5px 15px !important;
        border-radius: 8px !important;
        margin-right: 4px !important;
        margin-bottom: 4px !important;
    }
    .trade_derivatives_xx .content-tabs h1 {
        font-size: 14px !important;
    }
    .trade_derivatives_xx .currecnycol-txt {
        padding: 13px 8px !important;
    }
    #about_institution .about_logo h1{
        font-size: 24px !important;
    }
    #about_institution {
        padding: 30px 0px 0px 0px !important;
    }
    .about_defi{
        margin: 50px 0px !important;
    }
    .about_defi .trading_col{
        width: 100% !important;
        padding: 0px 20px !important;
    }
    #defi_content .ccc h1 {
        font-size: 20px !important;
    }
    #defi_content .ccc p{
        font-size: 10px !important;
    }
    #defi_content .ccc {
        width: 65%;
        text-align: center;
    }
    .about_defi .container{
        padding: 0px !important;
    }
    #defi_content{
        min-height: 350px !important;
        background-size: 100% !important;
        margin-top: 40px !important;
        background-size: calc(100% + 70px) !important;
        background-position: center !important;
    }
    #ncx_about .about_defi .about_logo {
        margin-bottom: 0px !important;
    }
    #ncx_about .ncx-partnerships {
        padding: 50px 0px 50px 0px !important;
    }
    #ncx_about .ncx-partnerships .partnerships.row{
        display: none;
    }
    #ncx_about .ncx-partnerships .partnerships.row.mobile{
        display: flex !important;
        margin-bottom: 50px !important;
    }
    #ncx_about .ncx-partnerships .partnerships.row.mobile .partner-logo{
        width: 50% !important;
        flex: inherit !important;
    }
    #ncx_about .partner-logo svg, #ncx_about .partner-logo img{
        width: 120px !important;
    }
    #ncx_about .ncx-partnerships .trading_col, #ncx_about .market_maker_about .trading_col{
        width: 100% !important;
    }
    #ncx_about .market-discount .container {
        padding: 0px !important;
    }
    #ncx_about .market-tabs-btn {
        width: 100% !important;
    }
    #ncx_about button.market-tabs {
        width: 50% !important;
        padding: 0px;
        font-size: 13px !important;
        line-height: 16px !important;
        font-family: 'hauora-semibold' !important;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 40px;
        min-width: unset !important;
    }
    #ncx_about .market-content {
        border-radius: 0px;
        background: transparent;
        box-shadow: none;
        padding: 30px 0px 0px 0px;
    }
    #ncx_about .discount_table .col p {
        display: inherit !important;
        font-size: 10px !important;
        line-height: 12px !important;
    }
    #ncx_about .discount_table .col p {
        display: inherit !important;
        font-size: 10px !important;
        line-height: 12px !important;
    }
    .ncx-partnerships .about_logo {
        margin-bottom: 50px;
    }
    #market_table_body tr{
        margin: 0px !important;
    }
    body #market_table_body tr:hover {
        margin-left: -10px !important;
        margin-right: -10px !important;
        background: #FFFFFF;
    }
    #ncx_about .amm_head .col p{
        font-size: 10px !important;
        line-height: 16px !important;
    }
    #ncx_about .amm_markettable .amm_head {
        padding: 10px 20px;
    }
    #ncx_about #derivative .container {
        padding: 0px !important;
    }
    #ncx_about #derivative .trading_col {
        padding: 0px 20px !important;
    }
    #ncx_about #mobileSlider .carousel .carousel__slider{
        background: #DBDCDE !important;
    }
    #ncx_about #mobileSlider .carousel__slider-tray .carousel__slide:nth-child(1) img{
        min-height: 300px !important;
        max-height: 300px !important;
        object-fit: contain !important;
    }
    #ncx_about #mobileSlider .carousel__slider-tray .carousel__slide:nth-child(1){
        padding: 50px 0px !important;
    }
}