/* div#solutions_institutional {
    background: #FFFFFF;
    background-color: #FFFFFF;
    padding-top: 0px !important;
}
.solutions p {
    font-size: 34px;
    color: #000000;
    padding-left: 0px;
    font-family: 'hauora-medium';
}
#solutions_institutional .otctxt h2, #institutional_about .otctxt h2{
    color: #000000;
    font-family: 'alliance-no-2-regular' !important;
    font-size: 25px !important;
}
#solutions_institutional .OTCsect.second.row .col .otc-line{
    height: 290px !important
}
#solutions_institutional .txtimgsect{
    padding-top: 0px;
}
#solutions_institutional .advantages1 .otc-line {
    height: 330px;
}
#solutions_institutional .advantages1 p {
    min-height: 228px;
}
.OTCsect.third.row.advantages3 {
    padding-top: 100px !important;
}
#solutions_institutional .otctxt p{
    color: #616262 !important;
    min-height: unset;
}
.ncx-otc.solutions{
    align-items: center;
}
.ncx-otc.solutions h1 {
    font-size: 33px;
    font-family: 'urbanist-regular';
    color: #000;
    padding-left: 10px;
    border-left: 1px solid #000000;
}
@media screen and (min-width: 801px){
    #ncx_institution .otctxt {
        min-height: 235px;
    }
    #ncx_institution #solutions_institutional .OTCsect.second.row .col .otc-line {
        height: 275px !important;
    }
}
@media screen and (max-width: 800px) {
    .liquidity-row .otctxt {
        min-height: 220px;
    }
    .otc-image img {
        height: 26px;
        width: auto;
    }
    #ncx_about .liquidity-row .otc-line{
        height: 200px !important;
    }
    .liquidity-row .otc-line {
        height: 255px !important;
    }
    .access_defi .otctxt {
        min-height: 270px;
    }
    .access_defi .otc-line {
        height: 305px !important;
    }
    .structured_product .otctxt {
        min-height: 220px;
    }
    .structured_product .otc-line {
        height: 255px !important;
    }
    .ncx-otc.solutions svg {
        width: 105px;
        height: auto;
    }
    .ncx-otc.solutions h1{
        font-size: 26px;
        line-height: 32px;
        margin-left: 0px !important;
        font-family: 'urbanist-regular' !important;
    }
} */