div#solutions_institutional {
    background: #FFFFFF;
    background-color: #FFFFFF;
}
.solutions p {
    font-size: 34px;
    color: #000000;
    padding-left: 0px;
    font-family: 'hauora-medium';
}
#solutions_institutional .otctxt h2, #solutions_institutional .otctxt p{
    color: #000000;
}
#solutions_institutional .OTCsect.second.row .col:last-child h2 {
    min-height: 59.4px;
}
#solutions_institutional .OTCsect.second.row .col .otc-line{
    height: 290px !important
}
#solutions_institutional .txtimgsect{
    padding-top: 0px;
}
#solutions_institutional .advantages1 .otc-line {
    height: 330px;
}
#solutions_institutional .advantages1 p {
    min-height: 228px;
}
.OTCsect.third.row.advantages3 {
    padding-top: 100px !important;
}
#solutions_institutional .advantages2 .col:nth-child(2) h2, #solutions_institutional .advantages2 .col:nth-child(3) h2{
    min-height: 59.4px;
}