.ncxtoken .row{
    margin: 0 auto !important;
}
.ncx-tokenlogo {
    display: flex;
    column-gap: 10px;
}
.ncx-tokenlogo p {
    font-size: 31px;
    line-height: 30px;
    padding-left: 10px;
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    border-left: 1px solid #FFFFFF;
}
.tokenrow h2{
    color: #FFFFFF;
    font-size: 35px;
    font-family: 'urbanist-regular';
    text-align: end;
}
.tokentable tr {
    border: none !important;
    display: inherit !important;
    padding: 0px !important
}
.tokentable tr th {
    border: medium;
    color: #FFFFFF;
    font-family: 'urbanist-regular' !important;
    font-size: 15px;
    font-weight: 500;
}