.ind__fq summary{
    color: #FFFFFF !important;
    padding: 0px !important;
    font-size: 18px !important;
    font-family: 'roboto-light' !important;
    background: hsla(0,0%,100%,.05);
    border: 1px solid hsla(0,0%,100%,.15);
    padding: 12.5px 20px !important;
    border-radius: 10px !important;
}
.ind__fq .contt{
    color: #FFFFFF !important;
}
.ind__fq .blue svg{
    width: 16px !important;
    /* transition: all .4s cubic-bezier(1,1,1,1); */
}
.ind__fq details[open] .blue svg{
    transform: rotate(180deg);
    /* transition: all .4s cubic-bezier(1,1,1,1); */
}
.ind__fq .accord {
    max-width: 900px;
    margin: 0 auto;
}
.ind__fq details {
    margin-bottom: 15px !important;
}
.ind__fq details[open] .contt {
    padding: 20px 20px 0px 20px;
    transition: none !important;
}
.ind__fq {
    padding: 0px 0px 80px 0px;
    background: url(../../../images/ind__bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top -90px;
    position: relative;
}
.ind__fq .container{
    position: relative;
    padding-top: 50px;
}
.ind__fq:before{
    content: '';
    width: 100%;
    height: 0.5px;
    background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}