@font-face {
    font-family: 'urbanist-medium';
    src: url(C:\Projects\ncx-app\src\Assets\fonts\Urbanist-Medium.ttf);
}
@font-face {
    font-family: 'urbanist-regular';
    src: url(C:\Projects\ncx-app\src\Assets\fonts\Urbanist-Regular.ttf);
}
header {
    background: #000000 !important;
}
#main-header {
    max-width: 1280px !important;
    margin: 0 auto !important;
    width: 100% !important;
    padding: 0px !important;
    min-height: 84px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn01, .signin, .launch-dex {
    height: 38px !important;
    border: 1px solid #65E4A1 !important;
    background: #65E4A1 !important;
    color: #000000 !important;
    font-family: 'urbanist-regular' !important;
    font-size: 16px !important;
    border-radius: 0px !important;
    margin-right: 15px !important;
    text-transform: capitalize !important;
    width: 10% !important;
}
.signin{
    background: transparent !important;
    color: #FFFFFF !important;
}
.launch-dex{
    border: 1px solid #2460FF !important;
    background: transparent !important;
    color:  #FFFFFF !important;
    width: 144px !important;
    margin-right: 0px !important;
}
navlink a {
    font-size: 16px !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
    font-family: 'urbanist-regular' !important;
    text-transform: capitalize !important;
    padding: 0px 15px !important;
}
.header-logo {
    width: 12% !important;
}
.header-logo a{
    display: flex !important;
}
navlink {
    width: 58% !important;
    text-align: left !important;
}
header {
    position: fixed !important;
    z-index: 9999;
}


/* Mobile Css */
.nav-btn{
    position: fixed;
    top:30px;
    right: 0px;
    cursor: pointer;
}

#nav{
    display: none;
}

.nav-overlary{
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 40px;
    list-style: none;
    opacity: 0;
    transform: translateY(-100);
    transition: .5s;
    z-index: -1;
    background: #000000;
    left: 0px;
    top: 75px !important
}

.nav-overlary li{
    font-size: 22px;
    text-transform: uppercase;
    padding:20px;
}

input[type="checkbox"]:checked ~ .nav-overlary{
    opacity: 1;
    transition: 1s;
}
.nav-btn .fa-bars:before {
    font-size: 20px;
}
.nav-overlary li a {
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    font-size: 22px;
    text-transform: capitalize;
}
.buttons-div button {
    width: 100% !important;
    margin: 10px 0px;
    font-size: 22px !important;
    height: 50px !important;
}
div#mobile-header {
    border-bottom: 1px solid #333333;
    width: 100%;
    padding: 10px 20px !important;
}
.mobile-container {
    display: flex;
    justify-content: space-between;
}