.data_analytics {
    padding: 90px 0px;
}
.data_analytics h1 {
    font-size: 22px;
    line-height: 26px;
    font-family: 'hauora-medium';
    color: #000000;
    margin-bottom: 10px !important;
}
.analytics_row {
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0px 0px 20px rgba(135, 136, 150, 0.2));
    margin-top: 40px;
}
/* .analytics_row .col {
    width: 33.33%;
    background: #FFFFFF;
    max-width: 400px;
    padding: 30px;
} */
.analytic_sect {
    text-align: center;
}
p.sub_heds {
    width: 100%;
    text-align: initial;
    font-size: 15px;
    color: #747989;
    font-family: 'hauora-medium';
    margin-bottom: 8px;
}
.analytic_sect h2 {
    font-size: 18px;
    text-align: left;
    font-family: 'hauora-medium';
    line-height: 24px;
    margin-bottom: 12px;
}
.analytic_sect p {
    font-size: 14px;
    line-height: 20px;
    color: #747989;
    font-family: 'hauora-light';
    text-align: justify;
    margin-bottom: 20px;
}
.analytics_row a {
    font-size: 14px;
    font-family: 'hauora-medium';
    color: #34A9FF;
    line-height: 20px;
    text-align: left;
    width: 100%;
    display: flex;
}
.analytic_sect img {
    margin-bottom: 25px;
}
.analytics_row .col {
    width: 33.33%;
    background: #FFFFFF;
    max-width: 400px;
    padding: 30px 30px 30px 30px;
}
.analytics_row .col:hover {
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
}
#data__ana .ncx-otc p {
    color: #000000;
    border-color: #000000;
}
#data__ana .ncx-otc {
    margin-bottom: 90px;
}
#data__ana .col p {
    font-size: 16px !important;
    color: #747989 !important;
    font-family: 'hauora-light' !important;
    text-align: justify;
}
#data__ana .cho__log p {
    font-size: 12px !important;
    text-transform: uppercase !important;
    color: #A1A3A7 !important;
    font-family: 'hauora-semibold' !important;
    letter-spacing: 2px !important;
}
#data__ana.why__choose__Otc .col.third h1, #data__ana.why__choose__Otc .col.third p{
    color: #FFFFFF !important;
}
#data__ana.why__choose__Otc .row .col:hover h1, #data__ana.why__choose__Otc .row .col:hover p,
#data__ana.why__choose__Otc .col:hover svg path{
    color: #FFFFFF !important;
}
#data__ana.why__choose__Otc .row .col.col.third:hover h1{
    color: #000000 !important;
}
#data__ana.why__choose__Otc .row .col.third:hover p{
    color: #A1A3A7 !important;
}   