div#exclusive_rates {
    position: relative;
    padding: 80px 0px;
}
/* #exclusive_rates .container {
    position: relative;
    top: 0;
    width: 100% !important;
    left: 0;
    right: 0;
    padding: 80px 0px 80px 0px;
} */
h1.exclusive {
    font-size: 34px;
    color: #000000;
    font-family: 'hauora-medium';
    line-height: 38px;
}
.exclusive_rates {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.exclusive_rates .col {
    border: 1px solid #E6E9F2;
    text-align: center;
    flex: inherit;
    width: 33.33%;
    max-width: 400px;
    padding: 30px;
}
.exclusive_rates h3 {
    font-size: 16px;
    color: #747989;
    line-height: 24px;
    font-family: 'hauora-medium';
}
.rates_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.rates_div .marker_lowest {
    width: 50%;
}
.rates_div .marker_lowest h1 {
    font-size: 24px;
    color: #000000;
    font-family: 'hauora-medium';
    line-height: 30px;
}
.marker_lowest p {
    font-size: 12px;
    color: #747989;
    line-height: 16px;
    font-family: 'hauora-medium';
    margin-top: 5px;
}
.exclusive_rates .col.third{
    background: linear-gradient(125.18deg, #A062FB 23.61%, #7457D3 82.11%);
}
.exclusive_rates .col.third h1, .exclusive_rates .col.third p, .exclusive_rates .col.third h3{
    color: #FFFFFF !important;
}
.exclusive_rates .col:hover{
    border: 1px solid #A062FB !important;
    cursor: pointer;
}