.Support_Searchbar video {
    margin-bottom: -5px;
    max-height: 440px!important;
    object-fit: cover;
    width: 100%;
}
.Support_Searchbar {
    background: #000;
    margin-top: -65px;
    max-height: 440px;
    position: relative;
}
#supportPage header#header-row {
    background: transparent;
}
.Support_Searchbar div#search_container {
    left: 0;
    padding: 150px 0 0px 0px;
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 100%!important;
    max-width: 1024px;
    margin: 0 auto;
}
#search_container h1 {
    font-size: 64px;
    color: #FFFFFF;
    line-height: 70px;
    font-family: 'urbanist-medium';
    margin-bottom: 50px;
}
div#question_tabs {
    padding: 100px 0px;
    position: relative;
}
.search_bar {
    z-index: 1;
    position: relative;
}
/* .search_bar .cmyNjn {
    min-height: 86px !important;
} */
.search_bar .wrapper {
    height: 100% !important;
    position: relative !important;
    border: 1px solid #e2e8f0 !important;
    background-color: #fff !important;
    width: 100% !important;
    border-radius: 15px !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 22px;
    font-family: 'urbanist-regular' !important;
    box-shadow: 0px 29px 44px -33px rgb(0 0 0 / 37%) !important;
    min-height: 86px;
    padding-top: 20px;
}
.search_bar .wrapper:hover{
    box-shadow: 0px 29px 44px -33px rgb(0 0 0 / 37%);
}
.search_bar .wrapper input::placeholder{
    font-size: 22px;
    font-family: 'urbanist-regular' !important;
}
/* .search_bar .cmyNjn .wrapper .fDbOPw {
    min-height: 86px;
} */
.search_bar .cmyNjn .wrapper svg {
    width: 34px !important;
    height: auto;
}
.ellipsis {
    font-size: 16px;
    font-family: 'urbanist-regular';
}
.search_bar .wrapper ul {
    background: #FFFFFF;
    box-shadow: 0px 29px 44px -33px rgb(0 0 0 / 37%) !important;
    border: 1px solid #e2e8f0;
    margin-top: 30px;
    border-radius: 15px;
    padding-top: 10px;
}
.search_bar .wrapper .line{
    display: none;
}
.search_bar .wrapper ul li {
    padding: 15px 10px;
    cursor: pointer;
}
.col.first {
    background-color: #7650FF;
    min-height: 220px;
    padding: 30px 25px;
    border-radius: 10px;
    max-width: 300px;
    flex: inherit;
    width: 33.333%;
    margin: 0 2rem;
}
.question_row a.col:hover, .question_row a.col:focus, .question_row a.col:focus-visible{
    text-decoration: none;
    outline: none;
}
.col.second {
    background-color: #7650FF;
    min-height: 220px;
    padding: 30px 25px;
    border-radius: 10px;
    max-width: 300px;
    flex: inherit;
    width: 33.333%;
    margin: 0 2rem;
}
.col.third {
    background-color: #7650FF;
    min-height: 220px;
    padding: 30px 25px;
    border-radius: 10px;
    max-width: 300px;
    flex: inherit;
    width: 33.333%;
    margin: 0 2rem;
}
.question_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
#question_tabs .container {
    max-width: 1024px;
}
.question_row h1 {
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'urbanist-semibold';
    margin-bottom: 15px;
}
.question_row p {
    font-size: 17px;
    font-family: 'urbanist-regular';
    color: #FFFFFF;
}
.animation\:fade-in-up {
    animation-name: fadeInUp;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,2rem,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}
.question_row a:hover {
    box-shadow: 0px 29px 44px -33px rgb(0 0 0 / 37%);
    transform: translateY(20);
}


/* *************************************** Details Page ********************************************* */
.details_faqs {
    padding: 150px 0px;
    min-height: 600px;
}
.details_faqs .col.fest {
    flex: inherit;
    padding-left: 0;
    padding-right: 40px;
    position: relative;
    width: 20%;
}
.details_faqs .col.sect {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 0 40px;
    position: relative;
    width: 60%;
    flex: inherit;
}
.details_faqs .col.thest {
    padding-left: 40px;
    padding-right: 0;
    position: relative;
    width: 20%!important;
    flex: inherit;
}
#artiles_faq .slider {
    height: 100% !important;
    min-height: 300px;
}
#artiles_faq .slider .carousel__slider-tray-wrapper {
    height: 100%;
    min-height: 300px;
    max-height: 300px;
}
#artiles_faq .slider .carousel__slide--hidden {
    height: 300px;
    max-height: 300px;
}
#artiles_faq .slider .carousel__slider-tray {
    height: 300px;
    max-height: 300px;
}
div#artiles_faq {
    padding: 60px 16px 16px!important;
    background: linear-gradient(192.05deg,#444 -355.42%,#141414 101.9%);
    max-height: 300px;
}
.faq-mod p {
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    font-size: 20px;
    line-height: 28px;
    min-height: 56px;
    margin-bottom: 130px;
}
.faq-mod a {
    font-size: 18px;
    font-family: 'urbanist-regular';
    color: #34A9FF;
    line-height: 24px;
    width: 100%;
    position: relative;
    display: block;
    text-align: end;
}
#artiles_faq button {
    background: none;
    border: none;
}
#artiles_faq button svg{
    width: 10px;
    height: auto;
}
#artiles_faq button svg path{
    fill: #FFFFFF;
}
#artiles_faq button.movenxt {
    position: absolute;
    top: 20px;
    right: 10px;
}
#artiles_faq button.moveback{
    position: absolute;
    top: 20px;
    left: 10px;
}
#artiles_faq button.moveback svg{
    transform: rotate(-180deg);
}
.details_faqs .row {
    margin: 0px !important;
}
.faq_nav {
    display: flex;
    column-gap: 13px;
    margin-top: 40px;
}
.faq_nav a {
    font-size: 16px;
    font-family: 'urbanist-medium';
    color: #000000;
    line-height: 24px;
}
.faq_nav p {
    font-size: 16px;
    font-family: 'urbanist-medium';
    color: #34A9FF;
    line-height: 24px;
}
.arr_sv svg {
    width: 8px;
    display: block;
}
.arr_sv svg path{
    fill: rgba(0,0,0,0.2);
}
.arr_sv {
    padding-top: 3px;
}
ul.details_faqul {
    padding-left: 0px;
    padding-top: 10px;
}
ul.details_faqul li{
    list-style-type: none;
    padding: 15px 0px;
    font-size: 16px;
    font-family: 'urbanist-regular';
    color: #000000;
}
ul.details_faqul li button{
    font-size: 16px;
    font-family: 'urbanist-regular';
    color: #000000;
    background: none;
    padding: 0px;
    border: none;
}
ul.details_faqul li button:hover{
    text-decoration: none;
    color: #34A9FF;
}
ul.details_faqul li button:focus, ul.details_faqul li button:focus-visible{
    text-decoration: none;
}
ul.details_faqul li button.active {
    color: #34A9FF;
}
h1.support_ticket {
    font-size: 24px;
    line-height: 32px;
    font-family: 'urbanist-regular';
    margin-bottom: 20px;
}
p.support_txt {
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    font-family: 'urbanist-regular';
}
p.support_txt a {
    color: #000000;
    text-decoration: underline;
}
a.support_signin {
    color: #FFFFFF;
    background: #34A9FF;
    width: 170px;
    height: 44px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'urbanist-regular';
    margin-top: 30px;
}
.details_faqs .col.fest .social-icons {
    margin-top: 40px;
}
.details_faqs .col.fest .social-icons a {
    background: rgba(0,0,0,0.2);
    width: 44px;
    height: 44px;
}
.details_faqs .col.fest .social-icons a:hover{
    background: #34A9FF;
}
.sprt-content{
    display: none;
}
.sprt-content.active{
    display: block;
}
.sprt-content h1 {
    font-size: 48px;
    line-height: 68px;
    font-family: 'urbanist-regular';
}
.sprt-content p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'urbanist-regular';
    margin: 15px 0px;
}
.sprt-content img {
    width: 100%;
    margin: 25px 0px;
    filter: drop-shadow(0px 0px 18px rgba(0, 0, 0, 0.06));
}




/* *************************************** Details Page ********************************************* */
@media screen and (min-width: 1300px){
    .details_faqs .container {
        max-width: 1360px;
    }
}


@media screen and (max-width: 800px){
    .question_row{
        display: block;
    }
    .question_row .col{
        width: 100% !important;
        max-width: 100% !important;
    }
    #search_container h1 {
        font-size: 26px;
        line-height: 32px;
        margin: 20px;
    }
    .search_bar{
        margin: 0px 20px;
    }
    .search_bar .cmyNjn .wrapper .fDbOPw svg{
        width: 24px !important;
        height: auto !important;
    }
    .search_bar .wrapper input::placeholder, .search_bar .wrapper input{
        font-size: 16px;
        line-height: 24px;
        font-family: 'urbanist-regular' !important;
    }
    .search_bar .wrapper ul{
        margin-top: 10px;
    }
    .search_bar .cmyNjn .wrapper .sc-gswNZR.hCpHso li{
        padding: 10px 0px;
    }
    .question_row .col {
        width: 100% !important;
        max-width: inherit !important;
        position: relative;
        display: block;
        margin: 0px;
        /* max-height: 180px !important; */
        min-height: inherit;
        margin-bottom: 20px;
    }
    .question_row{
        margin-bottom: 20px !important;
    }
    div#question_tabs{
        padding: 80px 0px;
    }
    .details_faqs .col.thest {
        display: none;
    }
    .details_faqs .col.fest {
        width: 100%;
    }
    .details_faqs .col.sect{
        width: 100%;
        padding: 0px 0px;
        margin-top: 20px;
        border: none;
    }
    h1.support_ticket {
        display: none;
    }
    p.support_txt, a.support_signin, .details_faqs .col.fest .social-icons {
        display: none;
    }
    .details_faqs{
        padding: 100px 0px;
    }
    ul.details_faqul li{
        padding: 7px 0px;
    }
    .faq_nav{
        margin-top: 20px;
    }
    .sprt-content h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .sprt-content p{
        font-size: 14px;
        line-height: 20px;
    }
}