.feature__dx {
    padding: 100px 0px;
    position: relative;
}
.lkj {
    display: flex;
    justify-content: center;
    gap: 5px;
    /* border-bottom: 1px solid rgba(255,255,255,0.25); */
}
.uiop {
    width: 15%;
    padding: 11.5px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    background: rgba(31, 31, 31, 0.7);
}
.lkj .uiop:nth-child(1) {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25% !important;
}
.uiop.clr {
    background: #1A1A1A;
}
.lkj .uiop h3 {
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'urbanist-semibold';
}
a.open_acnt {
    font-size: 14px;
    font-family: 'urbanist-medium';
    text-transform: initial;
    letter-spacing: 0;
    color: #FFFFFF;
    background: transparent;
    padding: 10px 15px;
    width: fit-content;
    line-height: 17px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
}
a.open_acnt:hover, a.open_acnt:focus, a.open_acnt:focus-visible{
    outline: none;
    text-decoration: none;
    box-shadow: none;
}
a.open_acnt:hover{
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #FFFFFF;
}
.lkj.head{
    border: none !important;
}
.sticky_pos{
    position: sticky;
    top: -10px;
    z-index: 999;
    background: #000000;
}
.lkj.head .uiop {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    padding: 30px 0px 20px 0px;
}
.bynt p {
    font-size: 16px !important;
    line-height: 20px !important;
}
.bynt span {
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    font-size: 12px;
    line-height: 14px;
}
p.nhgt {
    color: rgba(255,255,255,0.8) !important;
    font-size: 16px !important;
    font-family: 'urbanist-regular' !important;
    display: flex;
    flex-direction: column;
}
p.nhgt span{
    font-size: 12px;
}
.uiop p {
    color: #FFFFFF;
    font-family: 'urbanist-medium';
    font-size: 16px;
}
.bf__pok {
    margin-bottom: 60px;
}
.bf__pok h1 {
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    text-align: center;
}
.bf__pok p {
    color: #FFFFFF;
    font-size: 14px;
}
#ngbv.lkj.head .uiop {
    padding: 10px 0px;
}
.lkj:last-child{
    border: none !important;
}
.lkj.head.container .uiop:first-child {
    background: transparent !important;
}
#ngbv.lkj.head .uiop:first-child {
    background: transparent;
}

@media screen and (min-width: 800px){
    .dex-table{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .feature__dx{
        display: none;
    }
}