.nextSlide{
    display: none;
}
.row.text-image {
    margin: 0px !important;
    display: flex !important;
    width: 100% !important;
    margin-top: 60px !important;
}
img.perspon-img {
    position: absolute;
    width: 100% !important;
    max-width: 390px;
    left: 300px;
    top: -220px;
}
.tet{
    width: 30%;
    text-align: left;
    padding-left: 0px !important;
    padding-right: 80px !important;
}
.tet p {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    margin-top: 25px;
    margin-bottom: 50px;
}
.tet-img{
    width: 70% !important;
    background: #2460FF;
    position: relative;
    min-height: 350px;
}
.section-center {
    padding-left: 150px;
}
.section-center h1 {
    font-size: 48px;
    line-height: 68px;
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    text-align: left;
    width: 50%;
    min-height: 136px;
}
.section-center h2 {
    background: #212121;
    color: #FFFFFF;
    font-family: 'urbanist-medium';
    font-size: 15px;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 25px;
    margin-right: 12px;
}
.tag-class{
    padding-top: 12px;
    display: flex;
    width: 50%;
}
.tet a{
    /* background: #65E4A1; */
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    font-family: 'urbanist-regular' !important;
    padding: 13px 20px;
    border-radius: 5px !important;
    box-shadow: 0px 0px 12px 8px rgb(101 228 161 / 40%) !important;
    width: 80% !important;
    margin: 0 auto;
    border: 1.5px solid #65E4A1 !important;
    margin-left: 10px;
}
.tet a svg{
    margin-left: 10px;
}
.tet a svg path{
    fill: #ffffff !important;
}
h1.features-include {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    min-height: inherit !important;
}
.moving-btm {
    width: 70%;
    margin: 0 auto;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    position: relative;
    top: -190px;
    left: 0px;
    float: right;
}
.moving-btm button {
    background: none !important;
    border: none !important;
}
section#slider {
    padding: 100px 0px 50px 0px;
}
#slider > div > article:nth-child(2) > h1{
    width: 25% ;
}
#slider > div.section-center.desktop > article:nth-child(4) > div > div.tag-class.rowthree,
#slider > div.section-center.desktop > article:nth-child(3) > div > div.tag-class.rowthree > h2:nth-child(3),
#slider > div.section-center.desktop > article:nth-child(4) > div > div.tag-class.rowtwo > h2:nth-child(3){
    display: none;
}
/* #slider > div.section-center.mobile > article:nth-child(3) > div.tags-div > div.tag-class.rowfour > h2,
#slider > div.section-center.mobile > article:nth-child(4) > div.tags-div > div.tag-class.rowthree,
#slider > div.section-center.mobile > article:nth-child(4) > div.tags-div > div.tag-class.rowfour{
    display: none;
} */
/* #slider > div.section-center.desktop > article:nth-child(4) > div > div.tag-class.rowthree{
    visibility: hidden;
} */
.tags-div {
    min-height: 185px;
}
.tag-class {
    min-height: 44.5px !important;
}
article {
    overflow-x: hidden !important;
}