div#footerdiv {
    padding: 70px 0px 20px 0px;
    background: #000000;
    position: relative;
    /* border-top: 1px solid rgb(255, 255, 255, 0.2); */
}
.footer-row {
    display: flex;
    justify-content: space-between;
}
.footer-row ul li {
    list-style-type: none !important;
    text-align: left;
    padding-bottom: 16px;
}
.footer-row ul li a {
    color: #FCFCFD;
    font-family: 'urbanist-light';
    font-size: 14px;
    line-height: 20px;
    font-weight: 400 !important;
}
.social-media {
    display: flex;
    column-gap: 20px;
    justify-content: end;
    padding: 25px 0px 10px 0px;
}
.social-media .icons img {
    width: 20px;
}
.footer-logo a img {
    width: 160px;
    height: auto;
}
.info-mail {
    text-align: end;
}
.info-mail a {
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    font-size: 15px !important;
}
.copyright{
    padding-top: 40px;
}
.copyright p {
    color: #FFFFFF;
    font-family: 'urbanist-light';
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px !important;
}
.copyright p a{
    color: #65E4A1;
    text-decoration: none;
}
.copyright p a:hover{
    text-decoration: underline;
}
ul.ul-one {
    padding-left: 0px;
    min-height: 180px;
    margin-bottom: 20px !important;
}
ul.ul-two {
    padding-left: 0px;
}
.footer-row h1 {
    font-family: 'urbanist-medium' !important;
    font-size: 20px !important;
    color: #FCFCFD !important;
    font-weight: 500;
    margin-bottom: 20px;
}
.mobile-footer{
    display: none;
}
.copyright p:nth-child(2) {
    width: 70%;
    margin: 0 auto;
}
li.hiddendss {
    visibility: hidden;
}

@media screen and (min-width: 1301px){
    .footer.container {
        max-width: 1200px !important;
        padding: 0px 20px !important;
    }
}
@media screen and (max-width: 1300px){
    .footer.container {
        width: 100%;
        padding: 0px 50px !important;
    }
}
@media screen and (max-width: 800px){
    div#footerdiv{
        padding: 50px 0px 30px 0px !important;
        background: none;
        border-top: 0.5px solid rgba(255, 255, 255, .5);
        background: #000000 !important;
    }
    .mobile-footer{
        display: block;
        padding: 0px 20px;
    }
    #footerdiv .container.footer{
        display: none;
    }
    .mob-foot-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mob-foot-head button {
        height: 35px;
        background: #000000;
        border: 1.5px solid #65E4A1;
        width: 100px;
        border-radius: 5px;
        box-shadow: 0px 0px 12px 8px rgb(101 228 161 / 40%);
    }
    .mob-foot-head button a {
        color: #FFFFFF;
        font-family: 'urbanist-regular';
        font-size: 14px;
    }
    .mob-foot-ul ul {
        padding: 0px;
        margin: 0px;
    }
    .mob-foot-ul ul li {
        list-style-type: none;
        color: #FFFFFF;
    }
    .mob-foot-ul ul li {
        list-style-type: none;
        color: #FFFFFF;
        padding: 5px 0px;
    }
    .mob-foot-ul ul li a {
        color: #FFFFFF;
        font-family: 'urbanist-regular';
        font-size: 14px;
    }
    .mob-foot-ul {
        padding-top: 40px;
        position: relative;
    }
    .social-media {
        position: absolute;
        padding: 0px;
        bottom: 5px;
        right: 0px;
    }
    .copyright {
        padding-top: 50px;
    }
}