/************************** HomePage First Section Starts from here *************************/
.hero-section{
    background-color: #000000 !important;
}
#hero-video {
    width: 100% !important;
    max-width: 280px;
}
.hero-section .bsss {
    width: 45%;
}
.hero-section .asss {
    width: 55%;
    padding-top: 100px;
    padding-left: 50px;
}
.hero-section{
    padding: 140px 0px 100px 0px;
}
.bsss{
    text-align: center;
}
.asss h1 {
    font-size: 43px;
    line-height: 60px;
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    padding: 20px 100px 20px 0px;
}
.hashtag{
    padding-bottom: 10px;
}
.hashtag span {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'urbanist-regular';
    background: #212121;
    padding: 5px 10px;
    border-radius: 50px;
    display: inline-block;
    width: fit-content !important;
    margin-right: 10px;
}
.hero-section button.btn01 {
    width: fit-content !important;
    padding: 0px 20px;
    margin-top: 10px;
}
.hero-section button.hero-btn{
    border-radius: 2px !important;
}
.hero-section button.hero-btn.signin {
    background: none !important;
    border: 1.5px solid #65E4A1 !important;
    border-radius: 7px !important;
    color: #FFFFFF !important;
    color: #FFFFFF !important;
    font-size: 16px !important;
    font-family: 'urbanist-regular' !important;
    width: 120px !important;
    height: 38px !important;
}
.hero-section button.hero-btn.singup {
    background: none !important;
    border: 1.5px solid #2460FF !important;
    box-shadow: 0px 0px 12px 8px rgba(36, 96, 255, 0.4) !important;
    border-radius: 7px !important;
    color: #FFFFFF !important;
    font-size: 16px !important;
    font-family: 'urbanist-regular' !important;
    width: 150px !important;
    height: 38px !important;
}

/************************** HomePage Second Nnumbering Section Starts from here *************************/
/* Number Update Section */
.currencies-options.row {
    max-width: 1300px;
    margin: 0 auto;
}
.currencies-options span.balance{
    font-size: 38px !important;
    line-height: 44px !important;
    font-family: 'urbanist-medium' !important;
}
.currencies-options p{
    font-family: 'urbanist-light' !important;
    font-size: 16px !important;
}
.bar-grade33{
    margin-bottom: 60px !important;
    overflow: hidden !important;
    margin-top: 30px;
}
.img001 {
    display: flex;
    column-gap: 15px;
    padding-top: 20px;
}
.img001 svg {
    width: 134px;
    height: auto;
}
@media screen and (min-width: 801px){
    .hashtag.mobile {
        display: none;
    }
    .mobile-currenciesrow{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .hero-section .asss{
        padding-left: 0px;
        padding-top: 50px !important;
        padding-right: 0px !important;
    }
    span.hide-onmbl {
        display: none;
    }
    .img001 svg {
        width: 110px;
        height: auto;
    }
    .img001{
        padding-top: 10px !important;
    }
    div#videosection{
        width: 100% !important;
    }
    #hero-video{
        max-width: 300px;
    }
    .currencies-options.row {
        padding: 0px 20px;
    }
    .bar-grade33{
        width: 100% !important;
        margin-bottom: 30px !important;
        padding: 0px !important;
    }
    .currencies-options.row .col{
        display: none;
    }
    .mobile-currenciesrow .onembl .col {
        display: block !important;
        width: 50% !important;
    }
    .mobile-currenciesrow{
        padding: 0px !important;
    }
    .mobile-currenciesrow .onembl {
        display: flex !important;
        column-gap: 60px;
        margin-bottom: 30px;
    }
    .mobile-currenciesrow .onembl span.balance {
        font-size: 26px !important;
        line-height: 32px !important;
        text-align: center !important;
    }
    .mobile-currenciesrow .onembl p{
        font-size: 14px !important;
        line-height: 18px !important;
        text-align: center !important;
        padding: 0px 15px !important;
    }

}