#defi_content{
    background: url(../../../images/about_defi.png);
    background-repeat: no-repeat;
    position: relative;
    min-height: 870px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    overflow: hidden;
    background-size: calc(100% + -70px);
}
#defi_content .ccc {
    width: 60%;
    text-align: center;
}
#defi_content .ccc h1{
    font-size: 48px;
    font-family: 'urbanist-medium';
    color: black;
    margin-bottom: 10px;
}
#defi_content .ccc p{
    font-size: 15px;
    font-family: 'urbanist-medium';
    color: black;
}
.about_defi {
    margin: 100px 0px;
}
.about_defi .about_logo {
    margin-bottom: 50px;
}