@font-face {
    font-family: 'urbanist-medium';
    src: url(../fonts/Urbanist-Medium.ttf);
}
@font-face {
    font-family: 'urbanist-regular';
    src: url(../fonts/Urbanist-Regular.ttf);
}
@font-face {
    font-family: 'hauora-regular';
    src: url(../fonts/Hauora-Regular.ttf);
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 50px;  
}

section.bg-dark {
    background: #000000 !important;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px;
}
#hero-video {
    width: 100% !important;
    max-width: 360px;
}
.asss, .bsss {
    width: 50%;
    padding: 0px;
    text-align: left;
}
.asss {
    padding-top: 50px;
}
.hero-section{
    padding: 130px 0px 50px 0px;
}
.bsss{
    text-align: center;
}
h1, h2, h3, h4, h5, p{
    margin: 0px;
}
.asss h1 {
    font-size: 43px;
    line-height: 60px;
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    padding: 20px 130px 20px 0px;
}
.hashtag{
    padding-bottom: 10px;
}
.hashtag span {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'urbanist-regular';
    background: #212121;
    padding: 5px 10px;
    border-radius: 50px;
    display: inline-block;
    width: fit-content !important;
    margin-right: 10px;
}
.hero-section button.btn01 {
    width: fit-content !important;
    padding: 0px 20px;
    margin-top: 30px;
}
.hero-section button.hero-btn{
    border-radius: 2px !important;
}
.hero-section button.hero-btn svg{
    margin-left: 5px !important;
    margin-top: 3px !important;
}
.img001{
    display: flex;
    column-gap: 10px;
    padding: 30px 0px 0px 0px;
}
.img001 img {
    width: 100%;
    max-width: 130px;
    height: 42px;
}

/* CEX and DEX Section */
.cexdex .col{
    width: 50% !important;
    padding: 0px;
}
.cex {
    padding-top: 0px;
}
.cexdex h1{
    padding: 0px;
    margin-bottom: 10px;
    font-size: 43px;
    line-height: 50px;
}
.animate__slideInUp.animate__animated {
    animation-duration: 0.8s !important;
}
.dex p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'hauora-regular';
    text-align: justify;
}
.cexdex {
    background: url(../images/bgg.png);
    padding: 100px 0px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.cexdex .container {
    padding: 70px;
    background: #000000;
}
.hh_col {
    width: 25%;
    padding: 0px 15px 0px 15px !important;
    position: relative;
    /* overflow: hidden; */
}
.line-div {
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    background: #515151;
    left: 0px;
}
/* .hh_col:before {
    content: '';
    background: #515151;
    width: 1px;
    height: 200px;
    display: block;
    position: absolute;
    left: 0px;
} */
.hh_col p {
    font-family: 'hauora-regular';
    color: #CCCCCC;
    font-size: 16px;
    text-align: left;
    line-height: 20px;
    padding-bottom: 20px;
}
.hh_col h1 {
    font-size: 22px;
    text-align: left;
    line-height: 26px;
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    margin: 0px 0px 40px 0px;
    padding-right: 50px;
    min-height: 78px;
}
.hh_row {
    padding-top: 120px;
}
.hh_icon {
    text-align: left !important;
}

/* Market & Exchange Section  */
.market-exchange {
    background: #FFFFFF;
    padding: 100px 0px;
}
.marketimg .col img {
    width: 100%;
}

/* Advanced CEX and DEX Table Section */
.dex-table {
    background: #000000;
    padding: 100px 0px;
}
.text-table h1 {
    text-align: left;
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    font-size: 48px;
    line-height: 68px;
    margin-bottom: 20px;
}
.text-table p {
    text-align: left;
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    font-size: 14px;
    font-weight: 300 !important;
}
.whitearrow, .pinkarrow {
    position: relative;
}
.whitearrow h3 {
    color: #000000;
    font-family: 'hauora-regular';
    font-size: 12px;
    transform: rotate(270deg);
    background: #FFFFFF;
    padding: 3px 5px 5px 5px;
    border-radius: 3px;
    min-width: 120px;
    position: absolute;
    left: -49px;
    top: 50%;
}
.pinkarrow h3 {
    color: #FFFFFF;
    font-family: 'hauora-regular';
    font-size: 12px;
    transform: rotate(270deg);
    background: #BB6BD9;
    padding: 3px 5px 5px 5px;
    border-radius: 3px;
    min-width: 120px;
    position: absolute;
    left: -49px;
    top: 50%;
}
.whitearrow svg, .pinkarrow svg {
    position: relative;
    left: 20px;
}
.tabledex .body {
    display: flex;
    margin: 0px;
    width: 100%;
}
.tabledex .body .col.one {
    padding: 0px;
    width: 65px;
    display: block;
    max-width: 5% !important;
}
.tabledex .body .col.two {
    width: 95% !important;
    padding: 0px;
    flex: inherit;
    padding-right: 30px;
}
.row.head {
    margin: 0px;
    padding: 15px 30px 15px 62.5px;
    position: relative;
    margin-bottom: 30px;
}
.tabledex {
    margin-top: 30px;
}
.row.head:before {
    content: '';
    background: #FFFFFF;
    width: 100%;
    height: 1px;
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0px;
}
.row.head h2 {
    color: #FFFFFF;
    font-family: 'urbanist-medium';
    font-size: 20px;
    line-height: 24px;
}
.txt-cl, .txt-blue {
    width: 25%;
}
.row.body-text {
    margin: 0px;
    display: flex;
}
.txt-cl h3, .txt-blue h3 {
    font-size: 14px;
    font-family: 'urbanist-regular';
    color: #FFFFFF;
    text-align: left;
    padding: 8px 0px;
}
.txt-blue h3{
    text-align: center; 
}
.tickbox, .optionalbox {
    padding: 4.65px;
}
.txt-blue {
    position: relative;
    z-index: 1;
}
.txt-blue:before {
    content: '';
    background: #141B2F;
    display: block;
    width: 70%;
    height: 105%;
    position: absolute;
    z-index: -1;
    right: 45px;
    border-radius: 7px;
    top: -2%;
}
.row.body-text.second {
    margin-top: 20px;
}
.row.body-text.second .txt-blue:before {
    background: #222222;
}
.agreement-p {
    margin-top: 20px;
    padding-right: 45px;
}
.agreement-p p {
    text-align: end;
    color: #FFFFFF;
    font-size: 11px;
    font-family: 'urbanist-regular';
    line-height: 18px;
}
.agreement-p p span a{
    color: #65E4A1;
}

/* new generation crypto section */
.new-generation {
    background: #FFFFFF !important;
    padding: 100px 0px 50px 0px !important;
    min-height: 906px;
}
.new-generation .container{
    position: relative;
}
video#ncx-main-video {
    max-width: 800px;
}
.generate-video {
    width: fit-content;
    position: absolute;
    right: 0px;
    bottom: -110px;
}
.generate-video:before {
    content: '';
    background: #EFEFEF;
    width: 1px;
    height: 460px;
    display: block;
    position: absolute;
    left: -70px;
}
.generate-div {
    padding: 40px 50px;
    background: #F6F6F7;
    min-height: 600px;
    width: 90%;
}
.generate-div h1 {
    font-size: 48px;
    line-height: 68px;
    font-family: 'urbanist-medium';
    text-align: left;
    padding-right: 120px;
}
.generate-div p {
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    margin-top: 10px;
    font-family: 'urbanist-medium';
}
.generate-div button.btn01 {
    width: 100% !important;
    text-align: center !important;
    max-width: 150px;
    margin: 0 auto;
    margin-left: 0px !important;
    display: flex !important;
    margin-top: 40px;
    border-radius: 2px !important;
}
.generate-div button.btn01 a {
    color: #000000 !important;
}
.generate-div button.btn01 svg {
    margin-left: 15px;
}

/* GradientBar */
.gradient {
    padding: 100px 0px 0px 0px;
    background: #FFFFFF;
}
.gradientbar {
    background: linear-gradient(90deg,#37ABFF,#ff78e5 50%,#00d85a);
    /* transform: rotate(90deg); */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    height: 5px;
    max-width: 1380px;
    margin: 0 auto;
}
.row.gradient-text {
    margin: 0px;
}
.gradient-text .col {
    padding: 0px;
    padding-right: 30px;
    margin-top: 35px;
}
.gradient-text .col:last-child {
    padding: 0px;
    padding-right: 0px !important;
}
.gradient-text .col h1{
    font-family: 'urbanist-medium';
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    margin-bottom: 15px;
}
.gradient-text .col h3{
    font-family: 'hauora-regular';
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
}
.gradient-text .col p{
    font-family: 'hauora-regular';
    font-size: 16px;
    text-align: left;
}
.gradient-animation-one {
    animation-duration: 0.8s !important;
}
.gradient-animation-two {
    animation-duration: 2.0s !important;
}
.gradient-animation-three {
    animation-duration: 3.2s !important;
}
.gradient-bar {
    overflow: hidden;
}

/* Download App Section */
.download {
    background: #FFFFFF;
    padding: 100px 0px;
}
.download .row {
    margin: 0px !important;
}
.download .asss h1 {
    color: #000000;
    padding: 0px;
    font-family: 'urbanist-medium' !important;
    font-size: 34px;
    line-height: 40px;
}
.bar11 {
    display: flex;
    padding: 50px 0px;
}
.bar12 img {
    max-width: 210px;
}
.stores img {
    max-width: 172px;
    display: inherit !important;
    margin: 16.5px;
}
.stores {
    padding-left: 30px;
}
.download .bsss img {
    max-width: 410px;
}
.download .bsss {
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
}
.download p {
    font-size: 14px;
    font-family: 'urbanist-regular';
    padding-right: 130px;
}

/* Home Blog */
.home-blog .row {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.home-blog .row.first, .home-blog .row.second, .home-blog .row.third {
    border-bottom: 1px solid #333A3D;
}
.home-blog .col-xs-2 {
    min-height: 160px;
    padding: 0px;
    width: 20%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-right: 1px solid #333A3D;
}
.home-blog .row .col-xs-2 img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    height: auto;
    margin: 0 auto;
    width: 70%;
}
#p3 img{
    width: 100% !important;
}
#p17 img {
    width: 50%;
}
#p19 img {
    width: 30%;
}
#p5, #p10, #p15, #p20 {
    border-right: none;
}
.home-blog {
    padding: 100px 0px;
    background: url(../images/blog-banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.home-blog .col-xs-2:hover {
    background: linear-gradient(88.47deg,#65E4A1 4.2%,#2460FF 94.88%);
    cursor: pointer;
}
a#p20{
    visibility: hidden;
}

/* FAQ Section */
.faq-1 {
    width: 60% !important;
    padding: 0px !important;
}
.faq-0{
    width: 40% !important;
    padding: 0px !important;
}
.faq-0 button {
    width: fit-content !important;
    font-size: 12px !important;
    padding: 0px 20px;
    font-family: 'urbanist-medium' !important;
    border-radius: 2px !important;
}
.faq-0 button svg {
    margin-left: 10px;
}
.faq-0 p {
    color: #FFFFFF !important;
    font-family: 'hauora-regular' !important;
    font-size: 15px;
    font-weight: 300 !important;
}
.faq-sect{
    background: url(../images/bss.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 120px 0px 80px 0px;
}