/************************** Body Fonts family Starts from here *************************/
@font-face {
    font-family: 'urbanist-medium';
    src: url(../fonts/Urbanist-Medium.ttf);
}
@font-face {
    font-family: 'urbanist-regular';
    src: url(../fonts/Urbanist-Regular.ttf);
}
@font-face {
    font-family: 'urbanist-light';
    src: url(../fonts/Urbanist-Light.ttf);
}
@font-face {
    font-family: 'hauora-regular';
    src: url(../fonts/Hauora-Regular.ttf);
}
@font-face {
    font-family: 'urbanist-semibold';
    src: url(../fonts/Urbanist-SemiBold.ttf);
}
/************************** Body Fonts family Ends from here *************************/

.body-overflow {
    overflow: scroll !important;
    overflow-x: hidden !important;
}
.ncx-blacklogo, .ncx-whitelogo{
    width: 122px !important;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
}
.sticky.sticky-fixed.is-sticky {
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.sticky.sticky-fixed.is-sticky:not([style*="margin-top"]) {
    margin-top: 0 !important;
}
.sticky.sticky-fixed.is-sticky:not([style*="margin-bottom"]) {
    margin-bottom: 0 !important;
}
.sticky.sticky-fixed.is-absolute{
    position: absolute;
}

/************************** Body Scroll Section Starts from here *************************/
/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 50px;  
}
/************************** Body Scroll Section Ends from here *************************/

section.bg-dark {
    background: #000000 !important;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px;
}
h1, h2, h3, h4, h5, p{
    margin: 0px;
}

/************************** HomePage Fourth Market & Exchange Section Starts from here *************************/
div#market .container {
    max-width: 1200px !important;
}
.market-exchange {
    background: #FFFFFF;
    padding: 100px 0px 50px 0px;
}
.marketimg .col img {
    width: 100%;
    max-width: 320px;
}
.row.marketimg .col {
    max-width: 320px;
}
.row.marketimg {
    margin: 0px !important;
    padding: 0px 50px 30px 50px;
    display: flex;
    justify-content: center;
}


/************************** HomePage FAQ Section Starts from here *************************/
div#footer-faq {
    position: relative;
}
#faq.faq-sect .row {
    margin: 0px !important;
}
.faq-1 {
    width: 60% !important;
    padding: 0px !important;
}
.faq-0{
    width: 40% !important;
    padding: 0px !important;
}
.faq-0 button {
    width: fit-content !important;
    font-size: 12px !important;
    padding: 0px 20px;
    font-family: 'urbanist-medium' !important;
    border-radius: 2px !important;
}
.faq-0 button svg {
    margin-left: 10px;
}
.faq-0 p {
    color: #FFFFFF !important;
    font-family: 'hauora-regular' !important;
    font-size: 15px;
    font-weight: 300 !important;
}
.faq-sect{
    background: url(../images/ncx-faq-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0px 80px 0px;
}

/* Blog Page Styling starts from here */
/* .blog-header {
    background: url(../images/kick-scaled.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 210px;
    min-height: 750px;
    background-color: #000000;
}
.blog-header p {
    font-size: 14px;
    line-height: 24px;
    padding: 4px 12px;
    border-left: 1px solid #fff;
    color: #FFFFFF;
    font-family: 'urbanist-regular';
    margin: 20px 0px;
}
.blog-header h1 {
    color: #FFFFFF;
    font-family: 'urbanist-medium';
    font-size: 48px;
    line-height: 58px;
}
.blog-header input[type="email"] {
    width: 60%;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 163.35%;
    color: #fff;
    font-family: 'Hauora-regular';
    padding: 16px 3px;
    position: relative;
    z-index: 2;
    border-bottom: 0.5px solid #fff;
    caret-color: #59f7a4;
}
.blog-header input:focus{
    outline: none;
}
::placeholder{
    color: #FFFFFF;
    font-family: 'Hauora-regular';
    font-size: 14px;
}
.blog-header button {
    width: 165px;
    max-width: 40%;
    padding: 0;
    font-size: 13px;
    color: #141414;
    line-height: 38px;
    background-position: 80% center;
    text-align: left;
    padding-left: 40px;
    background: #65e4a1;
    border-radius: 5px !important;
    position: relative;
    top: 8px;
    margin-left: 30px;
    font-family: 'urbanist-regular';
}
.blog-header .row {
    margin: 0px;
}
.blog-header .row .row-col {
    width: 50%;
}
.blog-page .blog {
    padding-bottom: 100px;
} */