.card_imgb video {
    height: 80%;
    border-radius: 37px;
}
.card_imga video {
    height: 80%;
    border-radius: 37px;
}
#ncxotc-page .card_imga{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ncxotc-page .card_imgb{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ncxotc-page #ncx_cryptoCard .ambassador_card h1{
    font-size: 54px !important;
    line-height: 78px !important;
}
#ncxotc-page #ncx_cryptoCard h1.border-bv {
    width: fit-content;
}
.otc__tx {
    padding: 100px 0px;
}
.tx__ff {
    display: flex;
    gap: 50px;
}
.tx__ff .col:nth-child(1){
    width: 100%;
    flex: inherit !important;
    padding-right: 0px;
}
.tx__ff .col:nth-child(2){
    width: 32%;
    flex: inherit !important;
    display: none;
}
.tx__ff p {
    color: #616262;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'hauora-light';
}
.txx_grad h3 {
    font-size: 15px;
    margin-bottom: 12px;
    color: #FFFFFF !important;
}
.txx_grad h1 {
    font-size: 24px;
    margin-bottom: 12px;
    color: #FFFFFF;
}
.txx_grad p {
    font-size: 14px;
    margin-bottom: 0px !important;
    font-family: 'hauora-light';
    color: #FFFFFF !important;
    text-align: justify !important;

}
.txx_grad {
    background: linear-gradient(113.9deg, #9F61FA 17.88%, #7055CF 100.05%);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}
#ncx_cryptoCard div#institutional_about {
    margin-bottom: 50px;
}
.why__choose__Otc .row{
    display: flex;
    justify-content: space-between;
    margin: 0px !important;
}
.why__choose__Otc .row .col {
    width: 32%;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    padding: 20px 30px;
    flex: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 225px;
}
.cho__log {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.why__choose__Otc h1 {
    font-size: 23px;
    font-family: 'hauora-regular';
    line-height: 32px;
}
.why__choose__Otc .row .col:nth-child(2) h1 {
    width: 90%;
}
.why__choose__Otc .row .col:nth-child(3) h1 {
    width: 90%;
}
.why__choose__Otc .col svg path {
    fill: #9E61F8;
}
.why__choose__Otc .col.third {
    background: linear-gradient(102.71deg, #A061FA 3.4%, #7356D2 96.68%);
}
.why__choose__Otc .col.third h1, .why__choose__Otc .col.third p{
    color: #FFFFFF !important;
}
.why__choose__Otc .col.third svg path{
    fill: #FFFFFF;
}
.cho__log p {
    font-size: 12px;
    text-transform: uppercase;
    color: #A1A3A7;
    font-family: 'hauora-semibold';
    letter-spacing: 2px;
}
h1.why__otc {
    font-size: 55px;
    font-family: 'hauora-regular';
    line-height: 70px;
    margin-bottom: 60px;
}
h1.why__otc span{
    position: relative;
}
h1.why__otc span::before{
    background: rgba(148,82,236,.6);
    bottom: 10px;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    width: 100%;
    left: 0;
}
.why__choose__Otc {
    padding: 100px 0px 180px 0px;
}
.why__choose__Otc .row .col:hover{
    background: linear-gradient(102.71deg, #A061FA 3.4%, #7356D2 96.68%);
    border: none !important;
    cursor: pointer;
}
.why__choose__Otc .row .col:hover h1, .why__choose__Otc .row .col:hover p, .why__choose__Otc .col:hover svg path{
    color: #FFFFFF;
    fill: #FFFFFF;
}
.why__choose__Otc .row .col.third:hover{
    background: transparent !important;
    cursor: pointer;
}
.why__choose__Otc .row .col.third:hover h1{
    color: #000000 !important;
}
.why__choose__Otc .row .col.third:hover p{
    color: #A1A3A7 !important;
}
.why__choose__Otc .row .col.third:hover svg path{
    fill: #9E61F8 !important;
}
svg.styles_icon__C_hdQ {
    transition: transform .3s;
}
.why__choose__Otc .row .col:hover svg{  
    transform: rotate(45deg);
}
.arrow__sff {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}




#ncx_cryptoCard #institutional_about .OTCsect.row.mobile, h3.mbl__why_otc{
    display: none;
}
.otc__tx .trading_col{
    display: none;
}

@media screen and (min-width: 1280px){
    .about_logo {
        margin-left: -40px;
    }
}

@media screen and (max-width: 800px){
    #ncx_cryptoCard #institutional_about .OTCsect.row.mobile{
        display: flex !important;
    }
    #ncx_cryptoCard #institutional_about .OTCsect.row{
        display: none;
    }
    .otc__tx {
        padding: 0px 0px;
    }
    .otc__tx .trading_col {
        width: 100% !important;
    }
    .tx__ff {
        display: block !important;
        margin-top: 20px !important;
    }
    .tx__ff .col {
        width: 100% !important;
        padding: 0px !important;
    }
    .txx_grad{
        padding: 20px !important;
        background: transparent !important;
    }
    .txx_grad h1 {
        font-size: 20px;
        color: #000000 !important;
    }
    .arrow__sff{
        margin-bottom: 40px;
    }
    .txx_grad h3{
        font-size: 12px;
        color: #000000 !important;
    }
    .txx_grad p{
        font-size: 14px !important;
        line-height: 20px !important;
        color: #000000 !important
    }
    .txx_grad:hover{
        background: linear-gradient(113.9deg, #9F61FA 17.88%, #7055CF 100.05%) !important;
    }
    .txx_grad:hover h1, .txx_grad:hover p, .txx_grad:hover h3{
        color: #FFFFFF !important;
    }
    .txx_grad svg path{
        fill:#9E61F8 !important ;
    }
    .txx_grad:hover svg path{
        fill:#FFFFFF !important;
    }
    .txx_grad:hover svg{
        transform: rotate(45deg);
    }
    #ncx_cryptoCard #institutional_about .otctxt p {
        height: unset !important;
    }
    .re__ddsss .otctxt {
        min-height: 200px !important;
    }
    .re__ddsss .otc-line {
        height: 230px !important;
    }
    .ew__desss .otctxt {
        min-height: 290px !important;
    }
    .ew__desss .otc-line {
        height: 320px !important;
    }
    .qw_dssc .otctxt {
        min-height: 180px !important;
    }
    .qw_dssc .otc-line {
        height: 210px !important;
    }
    .why__choose__Otc {
        padding: 50px 0px;
    }
    h3.mbl__why_otc {
        font-size: 52px !important;
        line-height: 64px !important;
        display: block !important;
    }
    h1.why__otc span::before{
        display: none;
    }
    h1.why__otc{
        font-size: 30px !important;
        line-height: 38px !important;
        margin-bottom: 20px !important;
    }
    h3.mbl__why_otc.line {
        position: relative;
        width: fit-content;
    }
    h3.mbl__why_otc.line:before {
        background: rgba(148,82,236,.6);
        bottom: 10px;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        width: 100%;
        left: 0;
    }
    .why__choose__Otc .row{
        display: block !important;
        margin-top: 40px !important;
    }
    .why__choose__Otc .row .col{
        width: 100% !important;
        margin-bottom: 20px;
        min-height: 200px;
    }
    .why__choose__Otc h1 {
        font-size: 20px;
        line-height: 30px;
    }
    #ncxotc-page #mobileSlider video {
        min-height: 360px;
        object-fit: cover;
        width: 100%;
        max-height: 700px;
        background: #000000 !important;
    }
    #ncxotc-page #mobileSlider .col.card_txt h1{
        font-size: 30px !important;
        line-height: 40px !important;
    }
    #ncxotc-page #mobileSlider .col.card_txt{
        padding-bottom: 0px !important;
    }
}
