.styles_containerMedium__GkmzX,.styles_containerShort__2txy8,.styles_container__dkczA {
    margin-top: 150px
}

.styles_containerTiny__mF03j {
    margin-top: 80px;
    margin-bottom: 80px
}

@media (min-width: 600px) {
    .styles_container__dkczA {
        margin-top:350px
    }

    .styles_containerMedium__GkmzX {
        margin-top: 250px
    }

    .styles_containerShort__2txy8 {
        margin-top: 200px
    }

    .styles_containerTiny__mF03j {
        margin-top: 150px;
        margin-bottom: 150px
    }
}

.styles_wrapper__bIcBJ {
    margin-bottom: 80px
}

.styles_container__noF52 {
    background-image: linear-gradient(45deg,#0fff80,#5eddff);
    border-radius: 24px;
    color: var(--mui-palette-text-dark);
    padding: 24px;
    justify-content: space-between;
    margin-bottom: 40px
}

.styles_title__SL5O8 {
    margin-bottom: 24px
}

.styles_text__xHwW8 {
    margin-bottom: 16px
}

@media (min-width: 600px) {
    .styles_container__noF52 {
        padding:104px
    }

    .styles_title__SL5O8 {
        margin-bottom: 0
    }

    .styles_text__xHwW8 {
        margin-bottom: 28px
    }
}

@media (min-width: 1440px) {
    .styles_container__noF52 {
        margin-left:-104px;
        margin-right: -104px;
        background-position: 100% 100%
    }
}

.styles_linkButton__Psbpc {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: .46px;
    font-weight: 500;
    transition: .3s;
    position: static
}

.styles_underline__IlEJh {
    border-bottom: 2px solid transparent;
    padding: 15px 0
}

.styles_linkButton__Psbpc:hover {
    color: var(--mui-palette-primary-main);
    border-color: var(--mui-palette-primary-main);
    padding-right: 5px
}

.styles_linkButton__Psbpc:hover .styles_arrow__oXSog {
    transform: translateX(10px)
}

.styles_linkButton__Psbpc:hover .styles_arrow__oXSog:after {
    opacity: 1;
    transform: translateX(-5px) translateY(-50%);
    background: var(--mui-palette-primary-main)
}

.styles_linkButton__Psbpc:hover .styles_arrow__oXSog svg path {
    fill: var(--mui-palette-primary-main)
}

.styles_fullSize__cSqs7:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.styles_arrow__oXSog {
    margin-left: 4px;
    transition: .3s
}

.styles_arrow__oXSog:after {
    content: "";
    height: 2px;
    width: 100%;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateX(-2px) translateY(-50%);
    right: 0;
    opacity: 0;
    transition: .3s
}

.styles_arrow__oXSog svg {
    display: block
}

.styles_card__4O34i {
    background: var(--mui-palette-border-background);
    box-shadow: inset 0 0 0 1px var(--mui-palette-border-light);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    position: relative;
    transition: .3s;
    min-height: 272px
}

.styles_header__zP91l {
    margin-bottom: auto
}

.styles_card__4O34i:hover .styles_arrow__FGfM1 {
    transform: rotate(45deg)
}

.styles_title__L17rt {
    text-align: center
}

.styles_cardTitle__wbt6x {
    margin-bottom: 16px
}

.styles_arrow__FGfM1 {
    position: absolute;
    top: 24px;
    right: 24px;
    transition: transform .3s
}

.styles_highlight__sTjNz:hover {
    background-image: linear-gradient(45deg,var(--mui-palette-primary-main) 25%,var(--mui-palette-info-dark) 100%)
}

.styles_highlight__sTjNz:hover * {
    color: var(--mui-palette-background-main)!important
}

.styles_highlight__sTjNz:hover svg path {
    fill: var(--mui-palette-background-main)!important
}

.styles_highlight__sTjNz .styles_link__KoCNY div:after {
    background-color: var(--mui-palette-background-main)!important
}

.styles_outline__giKu7:hover {
    box-shadow: inset 0 0 0 2px var(--mui-palette-primary-main)
}

.styles_outline__giKu7:hover .styles_arrow__FGfM1 path {
    fill: var(--mui-palette-primary-main)
}

.styles_outline__giKu7 .styles_link__KoCNY div:after {
    background-color: var(--mui-palette-primary-main)!important
}

.styles_outline__giKu7 .styles_link__KoCNY:hover path {
    fill: var(--mui-palette-primary-main)!important
}

@media (min-width: 600px) {
    .styles_cardTitle__wbt6x {
        margin-bottom:24px
    }
}

.styles_container__3rdWM {
    align-items: center;
    justify-content: center
}

.styles_text__Omc_E {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center
}

.styles_image__puLZQ {
    display: flex;
    justify-content: center
}

@media (min-width: 900px) {
    .styles_text__Omc_E {
        text-align:left
    }
}

.styles_chip__oMjMV {
    color: var(--mui-palette-primary-main);
    padding-top: 2px
}

.styles_wrapper__pUWrz {
    overflow: hidden;
    position: relative
}

.styles_bg__BSv3R {
    width: 700px;
    height: 700px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5%;
    filter: url(#gooey);
    z-index: -1
}

.styles_container__ZtR08 {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 82px 0 202px;
    margin-top: 0
}

.styles_title__n92vH {
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    padding: 0
}

.styles_text__3i_Yg {
    text-align: center
}

@media (min-width: 600px) {
    .styles_container__ZtR08 {
        gap:24px
    }

    .styles_title__n92vH {
        font-size: 80px;
        line-height: 88px
    }

    .styles_bg__BSv3R {
        width: 900px;
        height: 900px;
        top: -20%
    }

    .styles_wrapper__pUWrz {
        overflow: visible
    }
}

@media (min-width: 900px) {
    .styles_bg__BSv3R {
        width:1200px;
        height: 1200px;
        top: -65%
    }
}

.styles_parallaxWrapper__lMMkQ {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 342px
}

.styles_baseImage__rw_Hy {
    width: 100%;
    height: auto
}

.styles_location1__Qnwa7 {
    position: absolute;
    bottom: 300px;
    left: 133px;
    width: 162px
}

.styles_location2__caMC1 {
    position: absolute;
    bottom: 173px;
    left: 193px;
    width: 147px
}

.styles_location3__wKZSC {
    position: absolute;
    bottom: 64px;
    left: 90px;
    width: 129px
}

.styles_location4__8Smjr {
    position: absolute;
    bottom: 208px;
    left: 0;
    width: 150px
}

@media (min-width: 600px) {
    .styles_parallaxWrapper__lMMkQ {
        width:570px
    }

    .styles_location1__Qnwa7 {
        bottom: 490px;
        left: 224px;
        width: 272px
    }

    .styles_location2__caMC1 {
        bottom: 260px;
        left: 340px;
        width: 247px
    }

    .styles_location3__wKZSC {
        bottom: 73px;
        left: 150px;
        width: 217px
    }

    .styles_location4__8Smjr {
        bottom: 320px;
        left: 0;
        width: 253px
    }
}

.styles_container__ZDNRX {
    align-items: center;
    justify-content: center
}

.styles_text__CYEVh {
    max-width: 470px!important;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center
}

.styles_header__zx4pr {
    display: flex
}

.styles_icon__bUQhp {
    margin-right: 4px
}

.styles_container__1RFJe {
    flex-direction: column;
    align-items: center
}

.styles_tree__0L1Yz {
    position: relative;
    margin-top: 54px;
    margin-bottom: 48px;
    width: 100%
}

.styles_tree__0L1Yz:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -30px;
    height: 30px;
    border-left: 1px solid var(--mui-palette-border-main)
}

.styles_rule__IELDC {
    margin: 0;
    border: unset;
    border-top: 1px solid var(--mui-palette-border-main)
}

.styles_rule__IELDC:after,.styles_rule__IELDC:before {
    content: "";
    position: absolute;
    border-left: 1px solid var(--mui-palette-border-main);
    height: 59px;
    display: none
}

.styles_rule__IELDC:before {
    left: 0
}

.styles_rule__IELDC:after {
    left: 100%
}

.styles_title__xjJaw b {
    color: var(--mui-palette-primary-main)
}

.styles_list__QvW6m .MuiListItemIcon-root {
    min-width: auto;
    padding-right: 32px
}

.styles_value__g2clt {
    background-image: linear-gradient(45deg,var(--mui-palette-primary-main) 25%,var(--mui-palette-info-dark) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 64px;
    line-height: 64px;
    padding-bottom: 16px;
    margin-bottom: 16px
}

.styles_desc__ou5kU {
    max-width: 400px;
    margin-bottom: 46px
}

.styles_card__LKZnJ {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.styles_icon__RjRK0 path {
    fill: var(--mui-palette-primary-main)
}

@media (min-width: 600px) {
    .styles_tree__0L1Yz {
        width:calc(100% - 200px)
    }

    .styles_value__g2clt {
        font-size: 80px;
        line-height: 90px;
        max-width: 90%
    }

    .styles_list__QvW6m {
        width: 80%
    }
}

@media (min-width: 900px) {
    .styles_tree__0L1Yz {
        margin-top:68px;
        margin-bottom: 91px;
        width: 570px
    }

    .styles_rule__IELDC:after,.styles_rule__IELDC:before {
        display: block
    }
}

@media (min-width: 1630px) {
    .styles_tree__0L1Yz {
        width:791px
    }
}

.styles_chip__qzsA_ {
    border-color: var(--mui-palette-primary-main);
    width: -moz-fit-content;
    width: fit-content;
    height: 24px;
    margin-top: 24px
}

.styles_videoWrapper__ccGXU {
    position: relative
}

.styles_video__5WooO {
    width: 100%;
    border-radius: 16px
}

.styles_authKitLink__t4anj,.styles_videoLink__PaAvi {
    position: absolute;
    text-indent: -9999px;
    border-radius: 12px
}

.styles_authKitLink__t4anj {
    width: 36.7%;
    height: 15.7%;
    left: 5.8%;
    top: 25.5%
}

.styles_onRampKitLink__Arfm3 {
    width: 37.8%;
    left: 58%;
    top: 21.9%
}

.styles_onRampKitLink__Arfm3,.styles_relayKitLink__TRoSG {
    position: absolute;
    height: 15.5%;
    text-indent: -9999px;
    border-radius: 8px
}

.styles_relayKitLink__TRoSG {
    width: 38.1%;
    left: 59.4%;
    top: 58.1%
}

.styles_protocolKitLink__Nn80x {
    position: absolute;
    width: 41%;
    height: 15.7%;
    left: 2.8%;
    top: 61.5%;
    text-indent: -9999px;
    border-radius: 8px
}

.styles_videoLink__PaAvi:hover {
    background-color: #fff;
    filter: blur(20px);
    mix-blend-mode: soft-light
}

@media (min-width: 600px) {
    .styles_wrapper__n6iGb {
        flex-direction:row
    }
}

@media (min-width: 900px) {
    .styles_authKitLink__t4anj {
        width:22.7%;
        height: 17.3%;
        left: 21.8%;
        top: 23%
    }

    .styles_onRampKitLink__Arfm3 {
        width: 23.7%;
        height: 17.1%;
        left: 54.3%;
        top: 18.9%
    }

    .styles_relayKitLink__TRoSG {
        width: 23.6%;
        height: 17.1%;
        left: 55.3%;
        top: 59.1%
    }

    .styles_protocolKitLink__Nn80x {
        width: 25.7%;
        height: 17.1%;
        left: 19.9%;
        top: 62.8%
    }
}

@media (min-width: 1440px) {
    .styles_videoWrapper__ccGXU {
        margin-left:-104px;
        margin-right: -104px
    }
}

.styles_wrapper__7lY3G {
    margin-bottom: 80px
}

.styles_container__Dtl6M {
    text-align: center;
    background-color: var(--mui-palette-border-light);
    border-radius: 24px;
    color: var(--mui-palette-text-dark);
    padding: 24px 24px 300px;
    justify-content: space-between;
    margin-bottom: 40px;
    background-image: url(/images/robot.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom
}

.styles_text__qxPPz {
    margin-bottom: 16px
}

.styles_button__woIia {
    color: var(--mui-palette-secondary-main)
}

.styles_chip__q0iYw {
    border-color: var(--mui-palette-text-primary);
    width: -moz-fit-content;
    width: fit-content
}

@media (min-width: 600px) {
    .styles_container__Dtl6M {
        padding:104px;
        border-bottom: 80px;
        background-position: 150% bottom;
        text-align: left
    }

    .styles_text__qxPPz {
        margin-bottom: 28px
    }
}

@media (min-width: 1440px) {
    .styles_container__Dtl6M {
        margin-left:-104px;
        margin-right: -104px;
        background-position: 100% 100%
    }
}

.styles_container__KPGe6 {
    margin-top: 0;
    margin-bottom: 75px
}

.styles_title__Y9wQk {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -.01em
}

.styles_video__Io9OD {
    max-width: 90%;
    height: auto
}

.styles_coreImage__TmQZs {
    width: 450px;
    height: auto
}

@media(min-width: 600px) {
    .styles_container__KPGe6 {
        margin-top:100px;
        margin-bottom: 120px
    }

    .styles_title__Y9wQk {
        font-size: 80px;
        line-height: 82px
    }
}

.styles_box__6vTlK {
    width: 80px;
    height: 80px;
    margin: 16px;
    position: relative;
    filter: url(#square-gooey)
}

.styles_rect__Ofqqe {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #12ff80;
    transition: background-color .1s;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: paused
}

.styles_rectTl__sXSPT {
    animation-name: styles_rect-anim-tl__VWvLO
}

.styles_rectTr__iOHFT {
    animation-name: styles_rect-anim-tr__kqkPz
}

.styles_rectBl__IldI3 {
    animation-name: styles_rect-anim-bl__dTXNR
}

.styles_rectCenter__rAuP0 {
    visibility: hidden;
    animation: none;
    transition: transform 1s ease-out;
    transform: translateY(30px) translateX(30px) scale(0)
}

.styles_rectBr__YmRAl {
    animation-name: styles_rect-anim-br__KsEWY
}

@keyframes styles_rect-anim-tl__VWvLO {
    0% {
        transform: translateX(0) translateY(0) scale(2)
    }

    25% {
        transform: translateX(50px) translateY(0) scale(1)
    }

    50% {
        transform: translateX(50px) translateY(50px) scale(2)
    }

    75% {
        transform: translateX(0) translateY(50px) scale(1)
    }

    to {
        transform: translateX(0) translateY(0) scale(2)
    }
}

@keyframes styles_rect-anim-tr__kqkPz {
    0% {
        transform: translateX(50px) translateY(0) scale(1)
    }

    25% {
        transform: translateX(50px) translateY(50px) scale(2)
    }

    50% {
        transform: translateX(0) translateY(50px) scale(1)
    }

    75% {
        transform: translateX(0) translateY(0) scale(2)
    }

    to {
        transform: translateX(50px) translateY(0) scale(1)
    }
}

@keyframes styles_rect-anim-br__KsEWY {
    0% {
        transform: translateX(50px) translateY(50px) scale(2)
    }

    25% {
        transform: translateX(0) translateY(50px) scale(1)
    }

    50% {
        transform: translateX(0) translateY(0) scale(2)
    }

    75% {
        transform: translateX(50px) translateY(0) scale(1)
    }

    to {
        transform: translateX(50px) translateY(50px) scale(2)
    }
}

@keyframes styles_rect-anim-bl__dTXNR {
    0% {
        transform: translateX(0) translateY(50px) scale(1)
    }

    25% {
        transform: translateX(0) translateY(0) scale(2)
    }

    50% {
        transform: translateX(50px) translateY(0) scale(1)
    }

    75% {
        transform: translateX(50px) translateY(50px) scale(2)
    }

    to {
        transform: translateX(0) translateY(50px) scale(1)
    }
}

.styles_box__NE4Wm {
    width: 80px;
    height: 80px;
    margin: 16px;
    position: relative;
    filter: url(#square-gooey)
}

.styles_rect__XvrMy {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #12ff80;
    transition: background-color .1s;
    transform-origin: center;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused
}

.styles_rectTr__istVZ {
    animation-name: styles_rect-anim-tr__DtW6W;
    top: 0;
    right: 0;
    transform: scale(2.5);
    animation-delay: .5s
}

.styles_rectBl__j_wv1 {
    animation-name: styles_rect-anim-bl__fcT93;
    bottom: 0;
    left: 0
}

.styles_rectCenter__hBI_M {
    animation-name: styles_rect-anim-center__XmA6O;
    top: 30px;
    left: 30px;
    transform: scale(2.5);
    animation-delay: .25s
}

@keyframes styles_rect-anim-tr__DtW6W {
    0% {
        transform: scale(2.5)
    }

    50% {
        transform: scale(1.5)
    }

    to {
        transform: scale(2.5)
    }
}

@keyframes styles_rect-anim-center__XmA6O {
    0% {
        transform: scale(2.5)
    }

    50% {
        transform: scale(1.5)
    }

    to {
        transform: scale(2.5)
    }
}

@keyframes styles_rect-anim-bl__fcT93 {
    0% {
        transform: scale(2.5)
    }

    50% {
        transform: scale(1.5)
    }

    to {
        transform: scale(2.5)
    }
}

.styles_box__mJpAP {
    width: 80px;
    height: 80px;
    margin: 16px;
    position: relative;
    filter: url(#square-gooey-1)
}

.styles_rect__2fT8k {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 30px;
    height: 30px;
    background-color: var(--mui-palette-primary-main);
    transition: background-color .1s;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused
}

.styles_rectTl__af71P {
    animation-name: styles_rect-anim-tl__E9Ypc;
    animation-delay: .9s
}

.styles_rectTr__Mktpk {
    animation-name: styles_rect-anim-tr__az_WC;
    animation-delay: .6s
}

.styles_rectBl__ZaXNf {
    animation-name: styles_rect-anim-bl__7pOBy;
    height: 35px
}

.styles_rectBr__s0CLR {
    animation-name: styles_rect-anim-br__SqAQ4;
    animation-delay: .3s;
    height: 35px
}

@keyframes styles_rect-anim-tl__E9Ypc {
    0% {
        transform-origin: 15px 15px;
        transform: scale(0)
    }

    25% {
        transform: scale(1)
    }

    50% {
        transform: scale(1) translate(-25px,-25px)
    }

    75% {
        transform: scale(1) translate(-25px,-25px)
    }

    to {
        transform-origin: -10px -10px;
        transform: scale(0) translate(-25px,-25px)
    }
}

@keyframes styles_rect-anim-tr__az_WC {
    0% {
        transform-origin: 15px 15px;
        transform: scale(0)
    }

    25% {
        transform: scale(1)
    }

    50% {
        transform: scale(1) translate(25px,-25px)
    }

    75% {
        transform: scale(1) translate(25px,-25px)
    }

    to {
        transform-origin: 40px -10px;
        transform: scale(0) translate(25px,-25px)
    }
}

@keyframes styles_rect-anim-br__SqAQ4 {
    0% {
        transform-origin: 15px 15px;
        transform: scale(0)
    }

    25% {
        transform: scale(1)
    }

    50% {
        transform: scale(1) translate(25px,25px)
    }

    75% {
        transform: scale(1) translate(25px,25px)
    }

    to {
        transform-origin: 40px 40px;
        transform: scale(0) translate(25px,25px)
    }
}

@keyframes styles_rect-anim-bl__7pOBy {
    0% {
        transform-origin: 15px 15px;
        transform: scale(0)
    }

    25% {
        transform: scale(1)
    }

    50% {
        transform: scale(1) translate(-25px,25px)
    }

    75% {
        transform: scale(1) translate(-25px,25px)
    }

    to {
        transform-origin: -10px 40px;
        transform: scale(0) translate(-25px,25px)
    }
}

.styles_card__snW3_ {
    border: 1px solid var(--mui-palette-border-light);
    transition: .3s
}

.styles_card__snW3_:first-of-type {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px
}

.styles_card__snW3_:last-of-type {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px
}

.styles_card__snW3_:hover {
    border-color: var(--mui-palette-primary-main);
    z-index: 2
}

.styles_card__snW3_ * {
    text-decoration: none
}

.styles_cardLink__F98iQ {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 32px 32px;
    z-index: 1
}

.styles_cardLink__F98iQ:hover .styles_icon__C_hdQ {
    transform: rotate(45deg)
}

.styles_cardLink__F98iQ:hover .styles_icon__C_hdQ path {
    fill: var(--mui-palette-primary-main)
}

.styles_cardLink__F98iQ:hover .styles_animationWrapper__lVd6v div {
    animation-play-state: running
}

.styles_cardLink__F98iQ img {
    width: 100px;
    height: 100px
}

.styles_icon__C_hdQ {
    position: absolute;
    top: 32px;
    right: 32px;
    transition: transform .3s
}

.styles_icon__C_hdQ path {
    transition: fill .3s
}

@media (min-width: 600px) {
    .styles_card__snW3_:first-of-type {
        border-top-right-radius:0;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        margin-right: -1px
    }

    .styles_card__snW3_:last-of-type {
        border-bottom-left-radius: 0;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px
    }
}

.styles_wrapper__tw0gg ul {
    list-style-type: square;
    padding-left: 26px;
    margin: 0
}

.styles_card__x2A0a {
    border: 1px solid var(--mui-palette-border-light);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start
}

.styles_card__x2A0a:first-of-type {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px
}

.styles_card__x2A0a:last-of-type {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px
}

@media (min-width: 600px) {
    .styles_card__x2A0a:first-of-type {
        border-top-right-radius:0;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        margin-right: -1px
    }

    .styles_card__x2A0a:last-of-type {
        border-bottom-left-radius: 0;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px
    }
}

.styles_wrapper__JxM6H {
    flex-direction: column-reverse
}

.styles_chip__jvyZZ {
    border-color: var(--mui-palette-primary-main);
    width: -moz-fit-content;
    width: fit-content;
    height: 24px;
    margin-top: 24px
}

.styles_image__vF_HE {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto
}

@media (min-width: 600px) {
    .styles_wrapper__JxM6H {
        flex-direction:row
    }

    .styles_image__vF_HE {
        max-width: 513px
    }
}

.styles_gradient__Zu8eH {
    position: relative;
    overflow: hidden;
    margin-bottom: 150px
}

.styles_tweetsGrid__jl4i6 {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px
}

.styles_tweetsGrid__jl4i6>* {
    scroll-snap-align: center;
    height: -moz-fit-content;
    height: fit-content;
    flex-shrink: 0;
    width: 300px;
    pointer-events: auto
}

.styles_bg__pPhwr {
    position: absolute;
    width: auto;
    height: 560px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: url(#gooey);
    z-index: -1
}

@media (min-width: 900px) {
    .styles_bg__pPhwr {
        height:620px
    }

    .styles_gradient__Zu8eH {
        height: 650px;
        overflow: hidden;
        margin-bottom: 350px
    }

    .styles_gradient__Zu8eH:after,.styles_gradient__Zu8eH:before {
        content: "";
        top: 0;
        display: block;
        height: 100%;
        position: absolute;
        width: 10%;
        pointer-events: none
    }

    .styles_gradient__Zu8eH:before {
        background: linear-gradient(90deg,var(--mui-palette-background-main) 0,rgba(18,19,18,0) 100%);
        left: 0;
        z-index: 1
    }

    .styles_gradient__Zu8eH:after {
        background: linear-gradient(270deg,var(--mui-palette-background-main) 0,rgba(18,19,18,0) 100%);
        right: 0
    }

    .styles_tweetsGrid__jl4i6 {
        margin-left: -20px;
        margin-right: -80px
    }

    .styles_tweetsGrid__jl4i6>* {
        flex: 1 1
    }

    .styles_tweetsGrid__jl4i6 a:nth-of-type(2) {
        margin-top: 120px
    }

    .styles_tweetsGrid__jl4i6 a:nth-of-type(4) {
        margin-top: 213px
    }
}

.styles_gradient__28VA_ {
    background: url(/images/eco-layer-1.png) top,url(/images/eco-layer-2.png) center 50%,url(/images/eco-layer-3.png) 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.styles_gradient__28VA_:after,.styles_gradient__28VA_:before {
    content: "";
    top: 0;
    display: block;
    height: 100%;
    position: absolute;
    width: 10%
}

.styles_gradient__28VA_:before {
    background: linear-gradient(90deg,var(--mui-palette-background-main) 0,rgba(18,19,18,0) 100%);
    left: 0
}

.styles_gradient__28VA_:after {
    background: linear-gradient(270deg,var(--mui-palette-background-main) 0,rgba(18,19,18,0) 100%);
    right: 0
}

@media (min-width: 600px) {
    .styles_gradient__28VA_ {
        background-size:1523px,1238px,1453px
    }
}

@media (max-width: 599px) {
    .styles_gradient__28VA_ {
        background-position:50%!important
    }
}

.styles_card__SIGNR {
    background: var(--mui-palette-border-background);
    outline: 1px solid var(--mui-palette-border-light);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: relative;
    transition: .3s
}

.styles_card__SIGNR:hover {
    outline-color: var(--mui-palette-primary-main);
    outline-width: 2px
}

.styles_card__SIGNR:hover .styles_icon__LObka {
    transform: rotate(45deg)
}

.styles_card__SIGNR:hover .styles_icon__LObka path {
    fill: var(--mui-palette-primary-main)
}

.styles_tag__FRmC_ {
    background: var(--mui-palette-primary-main);
    padding: 4px 8px;
    border-radius: 6px;
    color: var(--mui-palette-border-background);
    font-weight: 500;
    line-height: 1;
    margin-top: 24px;
    font-size: 22px
}

.styles_bg__zOU32 {
    background: url(/images/unlock-bg.svg) no-repeat;
    background-size: auto;
    background-position: center 100px;
    padding-bottom: 350px
}

.styles_icon__LObka {
    position: absolute;
    top: 32px;
    right: 32px;
    transition: transform .3s
}

@media (min-width: 600px) {
    .styles_card__SIGNR {
        padding:32px
    }
}

.styles_parallaxWrapper__qddVB {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 342px;
    height: 300px
}

.styles_bugBountyCard__drDQV {
    position: absolute;
    left: 0;
    width: 96px;
    height: auto
}

.styles_totalAuditsCard__AcHZ4 {
    position: absolute;
    left: 50px;
    top: 200px;
    width: 81px
}

.styles_runtimeVerificationCard__q9jig {
    position: absolute;
    left: 110px;
    width: 168px;
    height: auto
}

.styles_greenCheckmarkCard__199Fe {
    position: absolute;
    right: 25px;
    width: 93px
}

.styles_g0GroupCard__Tfasn {
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 104px
}

@media (min-width: 600px) {
    .styles_parallaxWrapper__qddVB {
        width:500px;
        height: 400px
    }

    .styles_bugBountyCard__drDQV {
        width: 141px
    }

    .styles_runtimeVerificationCard__q9jig {
        width: 246px;
        left: 160px
    }

    .styles_totalAuditsCard__AcHZ4 {
        left: 100px;
        top: 275px;
        width: 119px
    }

    .styles_greenCheckmarkCard__199Fe {
        width: 137px;
        right: 0
    }

    .styles_g0GroupCard__Tfasn {
        width: 152px;
        bottom: -100px
    }
}

.styles_icon__lFR5X {
    height: 16px;
    width: 16px;
    color: var(--mui-palette-primary-light)
}

.styles_iconActive__iHXuO {
    color: var(--mui-palette-primary-main)
}

.styles_stepper__vOSFD .MuiStepConnector-line {
    margin-bottom: -10px;
    margin-left: -5px;
    height: 46px;
    border-left: 2px solid var(--mui-palette-primary-main)
}

.styles_stepContent__hAfG8 {
    margin-left: 7px;
    margin-top: -10px;
    border-left: 2px solid var(--mui-palette-primary-main)
}

.styles_activeBorder__qn2la {
    border-left: 2px dashed var(--mui-palette-primary-light)
}

.styles_stepper__vOSFD .Mui-disabled .MuiStepConnector-line {
    margin-top: 2px;
    border-left: 2px dashed var(--mui-palette-primary-light);
    height: 24px
}

.styles_list__a75jp {
    list-style: none;
    padding-left: 0
}

.styles_list__a75jp li:before {
    content: "\2022";
    color: var(--mui-palette-primary-light);
    display: inline-block;
    width: 1em
}

.styles_imageFirst__IB83b,.styles_textFirst__HRHSP {
    flex-direction: column-reverse
}

@media (min-width: 600px) {
    .styles_textFirst__HRHSP {
        flex-direction:row
    }

    .styles_imageFirst__IB83b {
        flex-direction: row-reverse
    }
}

.styles_container__hohat {
    margin: 0 8px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: relative
}

.styles_container__hohat .styles_scroll__H368R {
    opacity: 0;
    transition: opacity .5s ease-in
}

.styles_container__hohat:hover .styles_scroll__H368R {
    opacity: 1
}

.styles_content__fNZOk {
    padding: 40px 16px
}

.styles_wrapper__0qTKg {
    align-self: flex-start;
    min-width: 100%;
    height: 720px;
    display: flex
}

.styles_video__fKxB7 {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0
}

.styles_filter__SiUPi {
    z-index: -1
}

.styles_filter__SiUPi:after {
    border-radius: 16px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4
}

.styles_frame__UK7Ez {
    position: absolute;
    background-color: var(--mui-palette-background-main);
    right: 0;
    bottom: 0;
    border-radius: 16px 0 0 0;
    width: 110px;
    height: 80px;
    z-index: 1
}

.styles_frame__UK7Ez:before {
    bottom: 0;
    left: -2em
}

.styles_frame__UK7Ez:after,.styles_frame__UK7Ez:before {
    content: "";
    background: transparent;
    height: 2em;
    width: 2em;
    position: absolute;
    border-bottom-right-radius: 16px;
    box-shadow: 0 16px 0 0 var(--mui-palette-background-main)
}

.styles_frame__UK7Ez:after {
    top: -2em;
    right: 0
}

.styles_scroll__H368R {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 40px;
    font-size: 12px;
    color: var(--mui-palette-text-primary)
}

.styles_scroll__H368R:after {
    content: "";
    display: block;
    background-image: url(/images/angle-down.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    width: 20px;
    height: 20px;
    margin: auto
}

.styles_title__ql4xV {
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
    color: var(--mui-palette-text-primary);
    margin-bottom: 24px
}

.styles_subtitle__B3kPZ {
    font-size: 20px;
    line-height: 30px;
    color: var(--mui-mui-palette-text-primary)
}

.styles_buttons__LS0Mx {
    margin-top: 40px;
    display: flex;
    gap: 16px
}

@media (min-width: 600px) {
    .styles_title__ql4xV {
        font-size:80px;
        line-height: 82px
    }

    .styles_subtitle__B3kPZ {
        font-size: 24px;
        line-height: 36px
    }

    .styles_container__hohat {
        margin: 0 30px
    }

    .styles_frame__UK7Ez {
        width: clamp(45%,10vw,600px)
    }

    .styles_wrapper__0qTKg {
        height: 800px;
        align-items: center
    }
}

@media (min-width: 900px) {
    .styles_frame__UK7Ez {
        height:130px
    }

    .styles_scroll__H368R {
        bottom: 90px
    }
}

.styles_metricWrapper__M8_5M {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.styles_metric___uH__ {
    margin: 0;
    font-size: 64px;
    line-height: 64px;
    color: var(--mui-palette-primary-main);
    background: linear-gradient(90deg,#0fff80,#5eddff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.styles_metricLabel__wGboT {
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    color: var(--mui-palette-primary-light);
    text-transform: uppercase
}

@media (min-width: 600px) {
    .styles_metric___uH__ {
        font-size:80px;
        line-height: 100px
    }

    .styles_metricWrapper__M8_5M {
        gap: 40px
    }
}

.styles_card__hfS3m {
    border-radius: 16px;
    outline: 1px solid var(--mui-palette-border-light);
    height: 100%;
    transition: .3s;
    margin: 2px
}

.styles_card__hfS3m:hover {
    outline-color: var(--mui-palette-primary-main);
    outline-width: 2px
}

.styles_card__hfS3m * {
    text-decoration: none
}

.styles_cardLink__dz3lA {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 32px 32px;
    z-index: 1
}

.styles_cardLink__dz3lA:hover .styles_icon__SQy_G {
    transform: rotate(45deg)
}

.styles_cardLink__dz3lA:hover .styles_icon__SQy_G path {
    fill: var(--mui-palette-primary-main)
}

.styles_icon__SQy_G {
    position: absolute;
    top: 32px;
    right: 32px;
    transition: transform .3s
}

.styles_icon__SQy_G path {
    transition: fill .3s
}

.styles_gradient__Dqg4x {
    outline-width: 0;
    background: linear-gradient(45deg,#001f26,#006240);
    position: relative;
    overflow: hidden
}

.styles_gradient__Dqg4x:hover:after {
    opacity: 1
}

.styles_gradient__Dqg4x:after {
    content: "";
    background: linear-gradient(95.54deg,#001f26 -6.86%,#00b460 186.26%);
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: .3s
}

@media (min-width: 600px) {
    .styles_card__hfS3m {
        margin:0
    }
}

.styles_container__1Rp26 {
    margin-top: 0;
    margin-bottom: 75px
}

.styles_imagesWrapper__hxJyt {
    position: relative;
    overflow: hidden
}

.styles_gif__YLpkW {
    position: absolute;
    top: 50px;
    left: 25px;
    transform: scale(1.5);
    z-index: -1
}

.styles_particleWrapper__wwHut {
    animation: styles_scale-up-down__2iGmw 15s cubic-bezier(0,1,.06,1.03) infinite;
    transform-origin: center;
    width: 130%;
    height: 130%;
    position: absolute;
    z-index: -1;
    top: -15%;
    left: -15%
}

.styles_bg__oYxMr {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    filter: url(#gooey);
    z-index: -1
}

.styles_button__KQYPA {
    font-size: 18px;
    line-height: 26px;
    padding: 15px 22px
}

.styles_downloads__G_SQR {
    display: flex;
    gap: 12px
}

.styles_downloads__G_SQR svg {
    width: 134px
}

.styles_title__o888C {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -.01em
}

@media (min-width: 600px) {
    .styles_container__1Rp26 {
        margin-top:100px;
        margin-bottom: 180px
    }

    .styles_imagesWrapper__hxJyt {
        overflow: visible
    }

    .styles_image___5MQJ {
        margin-top: 30px;
        width: 90%
    }

    .styles_gif__YLpkW {
        top: 50px;
        left: -5px;
        transform: scale(2)
    }

    .styles_button__KQYPA {
        padding: 8px 16px;
        height: 54px
    }

    .styles_downloads__G_SQR {
        justify-content: space-between;
        gap: 8px
    }

    .styles_downloads__G_SQR svg {
        width: 181px
    }

    .styles_title__o888C {
        font-size: 80px;
        line-height: 82px
    }
}

@keyframes styles_scale-up-down__2iGmw {
    0% {
        transform: scale(0)
    }

    10% {
        transform: scale(1)
    }

    90% {
        transform: scale(1)
    }

    to {
        transform: scale(0)
    }
}

.styles_parallaxWrapper__QRCXW {
    position: relative;
    text-align: center;
    width: 200px;
    margin: 0 auto
}

.styles_baseImage__dL9rm {
    width: 100%;
    height: auto
}

.styles_phone__v4M4j {
    position: absolute;
    top: -430px;
    left: 35px;
    width: 140px
}

@media (min-width: 600px) {
    .styles_parallaxWrapper__QRCXW {
        width:337px
    }

    .styles_phone__v4M4j {
        top: -700px;
        left: 50px;
        width: 250px
    }
}

.styles_wrapper__pS4et {
    padding: 8px 12px 8px 8px;
    gap: 8px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative
}

.styles_icon__geUkh img {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px
}

.styles_name__57zCm {
    font-size: 18px;
    line-height: 22px
}

.styles_newBadge__xZ9mH {
    font-size: 12px;
    font-weight: 500;
    background: var(--mui-palette-primary-main);
    color: var(--mui-palette-text-dark);
    padding: 0 8px;
    border-radius: 16px;
    position: absolute;
    top: -10px;
    right: -10px;
    line-height: 20px
}

.styles_parallaxWrapper__t5EZm {
    position: relative;
    text-align: center;
    width: 250px;
    margin: 0 auto
}

.styles_baseImage__lSjqP {
    width: 100%;
    height: auto
}

.styles_threshold__J14Oe {
    position: absolute;
    top: 19px;
    left: 19px;
    width: 150px
}

.styles_address1__Xm1ny {
    position: absolute;
    top: 70px;
    left: -25px;
    width: 160px
}

.styles_address2__eUUUW {
    position: absolute;
    bottom: -50px;
    right: -25px;
    width: 160px
}

@media (min-width: 600px) {
    .styles_parallaxWrapper__t5EZm {
        width:404px
    }

    .styles_threshold__J14Oe {
        top: 32px;
        left: 32px;
        width: 253px
    }

    .styles_address1__Xm1ny {
        top: 0;
        left: -50px;
        width: 265px
    }

    .styles_address2__eUUUW {
        bottom: 0;
        right: -50px;
        width: 255px
    }
}

.styles_parallaxWrapper__BD4AE {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 342px
}

.styles_baseImage__Ko4WW {
    width: 100%;
    height: auto
}

.styles_logos1__AJBOl {
    position: absolute;
    bottom: 195px;
    left: 47px;
    width: 225px
}

.styles_logos2__lYxDO {
    position: absolute;
    bottom: 60px;
    right: 30px;
    width: 260px
}

@media (min-width: 600px) {
    .styles_parallaxWrapper__BD4AE {
        width:570px
    }

    .styles_logos1__AJBOl {
        bottom: 330px;
        left: 80px;
        width: 370px
    }

    .styles_logos2__lYxDO {
        bottom: 110px;
        left: 95px;
        width: 400px
    }
}

.styles_parallaxWrapper__iEu_E {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 342px
}

.styles_baseImage__Gcz__ {
    width: 100%;
    height: auto
}

.styles_placeholder__WcUXz {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 278px
}

.styles_transaction__2WNvN {
    position: absolute;
    bottom: -110px;
    left: -10px;
    width: 100%
}

@media (min-width: 600px) {
    .styles_parallaxWrapper__iEu_E {
        width:570px
    }

    .styles_placeholder__WcUXz {
        bottom: 164px;
        width: 463px
    }

    .styles_transaction__2WNvN {
        bottom: -20px;
        left: -20px;
        width: 512px
    }
}

.styles_parallaxWrapper__DXhic {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 342px
}

.styles_baseImage__SYsWV {
    width: 100%;
    height: auto
}

.styles_phone__R4t4Z {
    position: absolute;
    bottom: 15px;
    left: 105px;
    width: 140px
}

.styles_wallets1__M23lU {
    position: absolute;
    bottom: 227px;
    right: 95px;
    width: 165px
}

.styles_wallets2__0etOH {
    position: absolute;
    bottom: 90px;
    right: 47px;
    width: 270px
}

@media (min-width: 600px) {
    .styles_parallaxWrapper__DXhic {
        width:570px
    }

    .styles_phone__R4t4Z {
        bottom: 45px;
        left: 170px;
        width: 225px
    }

    .styles_wallets1__M23lU {
        bottom: 375px;
        width: 270px;
        left: 130px
    }

    .styles_wallets2__0etOH {
        width: 435px;
        bottom: 130px;
        left: 45px
    }
}

.styles_parallaxWrapper__sZAcE {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 342px
}

.styles_baseImage__eAOe7 {
    width: 100%;
    height: auto
}

.styles_simulation__KzpZy {
    position: absolute;
    bottom: 110px;
    left: 0;
    width: 342px
}

@media (min-width: 600px) {
    .styles_parallaxWrapper__sZAcE {
        width:570px
    }

    .styles_simulation__KzpZy {
        bottom: 160px;
        width: 570px
    }
}

.styles_wrapper__pOzR9 {
    background-image: url(/images/IdentPlanets/orbits.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 228px;
    height: 228px;
    position: relative;
    margin: 0 auto
}

.styles_outerLayer__laLrH {
    position: absolute;
    left: -22px;
    top: -22px;
    transform-origin: 137px 137px;
    animation: styles_rotate__4ndRb 30s linear infinite;
    width: 260px;
    height: 260px
}

.styles_middleLayer__FIDsg {
    position: absolute;
    left: 0;
    top: 0;
    width: 228px;
    height: 228px;
    transform-origin: center;
    animation: styles_rotate__4ndRb 15s linear infinite
}

.styles_innerLayer___fcAS {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 58px;
    height: 58px
}

.styles_labelLayer__TRbPv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10px,-30px);
    width: 81px;
    height: auto
}

@keyframes styles_rotate__4ndRb {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@media (min-width: 600px) {
    .styles_wrapper__pOzR9 {
        width:380px;
        height: 380px
    }

    .styles_outerLayer__laLrH {
        width: 430px;
        height: 430px;
        left: -35px;
        top: -35px;
        transform-origin: 225px 225px
    }

    .styles_middleLayer__FIDsg {
        width: 380px;
        height: 380px
    }

    .styles_innerLayer___fcAS {
        width: 98px;
        height: 98px
    }

    .styles_labelLayer__TRbPv {
        width: 135px;
        transform: translate(10px,-50px)
    }
}

@media (prefers-reduced-motion:reduce) {
    .styles_wrapper__pOzR9>svg {
        animation: none
    }
}

.styles_networksWrapper__fnZPV {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
    --topRowWidth: 1483px;
    --bottomRowWidth: 1448px
}

.styles_gradientBase__0SEn1 {
    position: absolute;
    width: 94px;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(270deg,rgba(18,19,18,0) 0,var(--mui-palette-background-default) 100%);
    z-index: 1
}

.styles_gradientFlipped__Krens {
    left: auto;
    right: 0;
    width: 138px;
    transform: scaleX(-1)
}

.styles_secondaryText__Ypp1C {
    margin-top: 32px;
    text-align: center;
    color: var(--mui-palette-primary-light)
}

.styles_slider__uccdN {
    animation: styles_slide__pTrxv 59s linear infinite;
}

.styles_sliderReverse__EOlOC {
    transform: translateX(calc(var(--bottomRowWidth) * -1));
    animation: styles_slide-reverse__y30Kt 60s linear infinite
}

@keyframes styles_slide__pTrxv {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(calc(var(--topRowWidth) * -1))
    }
}

@keyframes styles_slide-reverse__y30Kt {
    0% {
        transform: translateX(calc(var(--bottomRowWidth) * -1))
    }

    to {
        transform: translateX(0)
    }
}

@media (min-width: 600px) {
    .styles_networksWrapper__fnZPV {
        gap:24px
    }

    .styles_gradientBase__0SEn1 {
        width: 337px
    }

    .styles_gradientFlipped__Krens {
        width: 351px
    }

    .styles_secondaryText__Ypp1C {
        margin-top: 40px
    }
}

.styles_container__Fkuog a {
    pointer-events: none
}

.styles_block__F7f1w a {
    text-decoration: underline;
    color: var(--mui-palette-secondary-light)
}

.styles_block__F7f1w section {
    overflow-x: auto
}

.styles_block__F7f1w table {
    width: 100%
}

.styles_block__F7f1w tr th {
    text-align: left
}

.styles_block__F7f1w tr td {
    overflow-wrap: break-word
}

.styles_gradient__fjkQO {
    background: #0fff80;
    background-image: linear-gradient(45deg,#0fff80,#5eddff);
    margin: 40px 16px 80px;
    border-radius: 24px
}

.styles_bg__gOKUB {
    background-image: url(/images/devices.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 35%;
    margin-top: 40px
}

.styles_buttons__xvnZt {
    display: flex;
    gap: 16px
}

.styles_buttons__xvnZt svg {
    display: block
}

@media (min-width: 900px) {
    .styles_gradient__fjkQO {
        margin:0 30px 80px
    }

    .styles_bg__gOKUB {
        margin: 0 150px 0 210px
    }
}

.styles_container__1TPY2 {
    flex-direction: column;
    align-items: center;
    text-align: center
}

.styles_gridItems__Svxl9 {
    padding: 24px;
    border-left: 1px solid var(--mui-palette-border-light);
    border-bottom: 1px solid var(--mui-palette-border-light);
    margin-left: -1px;
    margin-bottom: -1px;
    text-align: left
}

.styles_roundCorners__zhCvN {
    border: 1px solid var(--mui-palette-border-light);
    border-radius: 12px;
    overflow: hidden
}

.styles_title__epTHt {
    margin-top: 24px;
    margin-bottom: 16px
}

.styles_comingSoonChip__2BT8_ {
    border-color: var(--mui-palette-primary-main);
    width: -moz-fit-content;
    width: fit-content;
    height: 24px;
    margin-top: 24px
}
